<!DOCTYPE html>
<html>
	<head>
		<title>QueryTron</title>
		<link href="css/dark.css" :href="config.stylesheet" rel="stylesheet" type="text/css" />
		<style type="text/css">
			td.code, input.code {
				font-size: {{ config.appearance.editorsAndCode.fontSize }}px;
				font-family: {{ config.appearance.editorsAndCode.fontFamily }};
			}
			.CodeMirror {
				font-size: {{ config.appearance.editorsAndCode.fontSize }}px !important;
				font-family: {{ config.appearance.editorsAndCode.fontFamily }} !important;
			}
			.uk-nav-offcanvas > li.db-object > a {
				font-size: {{ config.appearance.editorsAndCode.fontSize }}px;
				font-family: {{ config.appearance.editorsAndCode.fontFamily }};
			}
			div.messages {
				top: 8px;
				left: 25%;
				right: 25%;
				z-index: 4;
			}
		</style>
	</head>
	<body>
		<connection-bar></connection-bar>

		<global-settings></global-settings>

		<div class="uk-flex uk-flex-column uk-height-1-1 uk-inline">

			<nav class="uk-navbar uk-navbar-attached no-flex-shrink">
				<ul class="uk-nav uk-navbar-nav">
					<li><a href="#connection-bar" data-uk-offcanvas v-tooltip title="Current Connection">
						<span v-if="connectionService.currentConnection" :style="{color: connectionService.currentConnectionConfig.color || 'inherit'}" v-cloak>
							<i class="uk-icon-database"></i>
							{{ connectionService.currentConnectionName }}
						</span>

						<span v-if="!connectionService.currentConnection" class="uk-text-warning"><i class="uk-icon-plug"></i> Disconnected</span>
					</a></li>

					<li class="uk-nav-divider"></li>

					<li :class="{'uk-active': currentPage == 'BrowsePage'}"><a @click.prevent="currentPage = 'BrowsePage'" href="">Browse</a></li>
					<li :class="{'uk-active': currentPage == 'QueryPage'}"><a @click.prevent="currentPage = 'QueryPage'" href="">Query</a></li>
				</ul>

				<div class="uk-navbar-flip"><!-- Right side of navbar -->
					<ul class="uk-nav uk-navbar-nav">
						<li><a href="#global-settings" data-uk-offcanvas v-tooltip title="Settings">
							<i class="uk-icon-cogs"></i>
						</a></li>
					</ul>
				</div>

				<span class="uk-navbar-brand uk-navbar-center">QueryTron</span>
			</nav>

			<div class="uk-overlay uk-position-top-center uk-position-small messages">
				<div v-for="message in messages.activeMessages(messages.messages)" class="no-flex-shrink" :class="['uk-alert', 'uk-alert-' + message.status]">
					<a class="uk-alert-close uk-close" @click.prevent="message.dismiss()"></a>
					<i v-if="message.icon" :class="'uk-icon-' + message.icon"></i>
					{{ message.message }}
				</div>
			</div>

			<component :is="currentPage" keep-alive class="uk-flex-item-1"></component>

		</div>

		<script>
			window.jQuery = require('jquery');
			require('uikit');
			require('uikit/dist/js/components/accordion');
			require('uikit/dist/js/components/notify');
			require('uikit/dist/js/components/tooltip');
			require('uikit/dist/js/components/sticky');
			require('uikit/dist/js/components/sortable');
			require('./app');
		</script>
	</body>
</html>
