<template>
	<div>
		<splitter orientation="horizontal" :handle-position-percent="70" class="uk-position-cover">
			<leaflet-map slot="first" class="uk-position-cover" :layers="layers"></leaflet-map>

			<detail-table slot="second" class="uk-position-cover" :data="selectedNode && selectedNode.data"></detail-table>
		</splitter>
	</div>
</template>

<script>
	import DetailTable from '../DetailTable.vue';
	import LeafletMap from '../LeafletMap.vue';
	import Splitter from '../Splitter.vue';

	const component = {

		components: {
			DetailTable,
			LeafletMap,
			Splitter,
		},

		props: {
			layers: { type: Array, default: () => [] },
		},

	};

	export default component;
</script>
