<template>
	<div>
		<code-highlight v-if="!_.isEmpty(statement) && showQueryText" :code="statement.text" :mode="codeHLMode" class="uk-position-cover no-box" v-scrollbar></code-highlight>
		<div v-if="!_.isEmpty(statement) && !showQueryText">
			<splitter orientation="horizontal" :handle-position-percent="70" class="uk-position-cover">
				<query-plan slot="first" class="uk-position-cover" :plan="statement.queryPlan" :line-width-key="lineWidthKey"
						:numeric-keys.sync="lineWidthKeyChoices" :selected-node.sync="selectedNode">
				</query-plan>

				<detail-table slot="second" class="uk-position-cover"
						:data="selectedNode && selectedNode.plan && selectedNode.plan.data">
				</detail-table>
			</splitter>
		</div>
	</div>
</template>

<script>
	import _ from 'lodash';

	import CodeHighlight from '../CodeHighlight.vue';
	import DetailTable from '../DetailTable.vue';
	import QueryPlan from '../QueryPlan.vue';
	import Splitter from '../Splitter.vue';

	import connectionService from '../../services/connection';
	import documentService from '../../services/document';

	const component = {

		components: {
			CodeHighlight,
			DetailTable,
			QueryPlan,
			Splitter,
		},

		props: {
			statement: { type: Object },
			showQueryText: { type: Boolean, default: false },
			lineWidthKey: { type: String },
			lineWidthKeyChoices: { type: Array, default: () => [] },
		},

		data() {
			return {
				selectedNode: null,
			};
		},

		computed: {
			_() { return _; }, // No idea why adding `_` to `data` doesn't work, but this works around it.
			codeHLMode() {
				return documentService.getModeForDriver((connectionService.currentConnectionConfig || {}).client);
			},
		},

		ready() {
			this.$watch('statement', () => {
				this.selectedNode = null;
			});
		}

	};

	export default component;
</script>
