<style lang="less">
	.results-table {
		& > div > table {
			margin: 0;

			& > tbody > tr, & > thead > tr {
				& > th, & > td {
					-webkit-user-select: text;
				}
			}
		}
	}
</style>


<template>
	<div class="results-table">
		<code-highlight v-if="!_.isEmpty(statement) && showQueryText" :code="statement.text" :mode="codeHLMode" class="uk-position-cover no-box" v-scrollbar></code-highlight>
		<div v-if="!_.isEmpty(statement) && !showQueryText" class="uk-position-cover uk-overlay" v-scrollbar v-el:results-pane>
			<div v-for="message in statement.messages" class="uk-alert" :class="{'uk-alert-danger': _.isError(message), 'uk-alert-warning': message.isWarning}">
				<i :class="{'uk-icon-exclamation-circle': _.isError(message), 'uk-icon-exclamation-triangle': message.isWarning, 'uk-icon-info-circle': !_.isError(message) && !message.isWarning}"></i>
				<pre class="no-box"><code>{{ message }}</code></pre>
			</div>

			<div v-if="!statement.isRunning && !statement.failed && _.isEmpty(statement.rows)"
					class="uk-panel uk-panel-box uk-panel-box-secondary">
				<h3 v-if="isRunning.active" class="uk-panel-title uk-text-center uk-text-muted">Waiting...</h3>
				<h3 v-if="!isRunning.active" class="uk-panel-title uk-text-center uk-text-muted">No rows returned.</h3>
			</div>
			<div v-if="statement.isRunning" class="uk-overlay-panel uk-overlay-fade uk-overlay-slide-top uk-overlay-top uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center">
				<h3 class="uk-text-muted">Running... <i class="uk-icon-circle-o-notch uk-icon-spin uk-icon-large uk-display-block"></i></h3>
			</div>

			<table v-if="!statement.isRunning && !statement.failed && !_.isEmpty(statement.rows)" class="uk-table uk-table-striped uk-table-condensed uk-text-nowrap">
				<thead>
					<tr>
						<th v-for="column in statement.columns" v-tooltip="'Type: ' + column.type">
							{{ column.name }}

							<div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
								<button class="uk-button uk-button-mini"><i class="uk-icon-caret-down"></i></button>
								<div class="uk-dropdown uk-dropdown-small">
									<ul class="uk-nav uk-nav-dropdown">
										<li><a href="" @click.prevent="addToMap(column, statement)">
											<i class="uk-icon-compass"></i> Add to map
										</a></li>
									</ul>
								</div>
							</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="row in statement.rows">
						<td v-for="column in statement.columns" class="code" :class="{null: row[column.key] === null}">{{ displayResultValue(row[column.key]) }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</template>

<script>
	import _ from 'lodash';

	import CodeHighlight from '../CodeHighlight.vue';
	import DetailTable from '../DetailTable.vue';
	import QueryPlan from '../QueryPlan.vue';

	import connectionService from '../../services/connection';
	import documentService from '../../services/document';

	const component = {

		components: {
			CodeHighlight,
			DetailTable,
			QueryPlan,
		},

		props: {
			statement: { type: Object },
			showQueryText: { type: Boolean, default: false },
			isRunning: { type: Object },
		},

		computed: {
			_() { return _; }, // No idea why adding `_` to `data` doesn't work, but this works around it.
			codeHLMode() {
				return documentService.getModeForDriver((connectionService.currentConnectionConfig || {}).client);
			},
		},

		methods: {
			addToMap(column, statement) {
				this.$dispatch('query.addToMap', column, statement);

				// Close dropdown.
				UIkit.$('.uk-button-dropdown.uk-open', this.$element).trigger('click.uk.dropdown');
			},
			displayResultValue(value) {
				if(value === null) {
					return 'NULL';
				}
				else if(_.isString(value) || _.isNumber(value)) {
					return value;
				}
				else {
					return JSON.stringify(value);
				}
			},
		},

	};

	export default component;
</script>
