/* theme: Gradient */


//
// General
//

@global-background: #222222;
@global-border: #444444;

//
// Typography
//

@global-color: #f3f3f3;
@global-muted-color: #919191;
@global-text-shadow: rgba(0, 0, 0, 0.2);

//
// Buttons, Navs & Badges
//

@global-default-gradient-top: #6a6a6a;
@global-default-gradient-bottom: #494949;
@global-default-hover-background: #6f6f6f;
@global-default-active-background: #787878;

//
// Alert
//

@alert-background: rgba(0, 170, 255, 0.2);
@alert-success-background: rgba(166, 255, 0, 0.2);
@alert-warning-background: rgba(255, 217, 0, 0.2);
@alert-danger-background: rgba(255, 17, 0, 0.2);
@alert-color: #388eb8;
@alert-success-color: #71b314;
@alert-warning-color: #f98f27;
@alert-danger-color: #ed421a;

//
// Base
//

@base-code-color: #00ba00;
@base-code-background: #181818;
@base-em-color: #88ddee;
@base-pre-background: #181818;
@base-ins-background: rgba(255, 255, 0, 0.3);
@base-mark-background: rgba(255, 255, 0, 0.3);
@base-code-font-family: Consolas, Inconsolata, monospace;

//
// Block
//

@block-muted-background: #393939;
@block-primary-background: #005575;
@block-secondary-background: #848484;

//
// Button
//

@button-disabled-background: #4b4b4b;

//
// Comment
//

@comment-background: #4f4f4f;
@comment-primary-background: #334f5d;

//
// Dropdown
//

@dropdown-background: #303030;
@dropdown-navbar-background: #4d4d4d;
@dropdown-search-background: #2b2b2b;

//
// Form
//

@form-focus-background: rgba(0, 35, 52, 0.94);
@form-disabled-background: #424242;
@form-danger-background: rgba(255, 0, 32, 0.15);
@form-success-background: rgba(157, 255, 0, 0.15);

//
// Icon
//

@icon-font-path: "../../node_modules/uikit/dist/fonts";

//
// List
//

@list-striped-background: #1a1a1a;

//
// Navbar
//

@navbar-nav-active-background: #787878;

//
// Pagination
//

@pagination-disabled-background: #787878;

//
// Panel
//

@panel-box-background: rgba(255, 255, 255, 0.25);
@panel-box-primary-background: rgba(0, 170, 255, 0.25);
@panel-box-primary-color: #479cc6;
@panel-box-primary-title-color: #479cc6;
@panel-box-secondary-background: rgba(255, 255, 255, 0.05);
@panel-box-secondary-color: #c9c9c9;
@panel-hover-hover-background: rgba(255, 255, 255, 0.25);
@panel-box-secondary-title-color: #c9c9c9;

//
// Subnav
//

@subnav-pill-hover-background: #494949;

//
// Tab
//

@tab-hover-background: #3c3c3c;

//
// Table
//

@table-striped-background: #2e2e2e;
@table-hover-background: lighten(@table-striped-background, 4%);

//
// Progress
//

@progress-background: #111111;

//
// Tooltips
//

@tooltip-background: rgba(72,72,72,0.95);


.hook-progress() {
    box-shadow: inset 0 0 0 1px rgba(0,0,0,1),
                inset 0 2px 2px rgba(0,0,0,1),
                inset 0 2px 4px rgba(0,0,0,1);
}

.hook-modal-header() {
	background: #444;
}

.hook-modal-footer() {
	background: #444;
}
