@import "uikit/dist/less/uikit.less";
@import "uikit/dist/less/components/accordion.less";
@import "uikit/dist/less/components/autocomplete.less";
@import "uikit/dist/less/components/notify.less";
@import "uikit/dist/less/components/tooltip.less";
@import "uikit/dist/less/components/sticky.less";
@import "uikit/dist/less/components/sortable.less";

@import "uikit/themes/gradient/uikit.less";
@import "uikit/themes/gradient/accordion.less";
@import "uikit/themes/gradient/autocomplete.less";
@import "uikit/themes/gradient/notify.less";
@import "uikit/themes/gradient/tooltip.less";
@import "uikit/themes/gradient/sticky.less";
@import "uikit/themes/gradient/sortable.less";

@import "./style.less";
@import "../common.less";

.ps-container:hover > .ps-scrollbar-x-rail:hover,
.ps-container:hover > .ps-scrollbar-y-rail:hover,
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail,
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail,
.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail,
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
	background-color: #555;
}

.leaflet-container a {
	color: #00B6FF;
}
.leaflet-control-layers, .leaflet-bar a, .leaflet-bar a:hover,
.leaflet-control-attribution, .leaflet-control-scale-line {
	color: white;
	background-color: #555;
}
.leaflet-bar a, .leaflet-bar a:hover {
	border-color: #444;
}
.leaflet-bar a:hover {
	background-color: #888;
}
.leaflet-bar a.leaflet-disabled {
	background-color: #333;
}
.leaflet-control-scale-line {
	background-color: rgba(85, 85, 85, 0.5);
	border-color: #888;
}
.leaflet-container .leaflet-control-attribution {
	background-color: rgba(85, 85, 85, 0.7);
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
	background-color: #333;
	color: white;
}

code.null, .code.null, .code .null {
	background-color: #333;
	color: #888;
}
