<style lang="less">
	.accordion {
	}
</style>

<template>
	<div class="accordion uk-accordion">
		<slot></slot>
	</div>
</template>

<script>
	export default {
		props: {
			accordionOpts: { type: Object, default: {} },
		},
		ready() {
			this.$nextTick(() => {
				var accordion = UIkit.accordion(this.$el, this.accordionOpts);

				//this.$on('accordion-update', () => accordion.update());
				this.$on('accordion-update', () => {
					this.$nextTick(() => {
						console.log("Updating accordion...", this);
						accordion.update();
					});
				});
				accordion.on('toggle.uk.accordion', () => {
					this.$nextTick(() => {
						this.$broadcast('resize');
						this.$dispatch('resize');
					});
				});
			});
		}
	};
</script>
