<style lang="less">
    @import (css, inline) 'codemirror/lib/codemirror.css';

    @import (css, inline) 'codemirror/theme/3024-day.css';
    @import (css, inline) 'codemirror/theme/3024-night.css';
    @import (css, inline) 'codemirror/theme/abcdef.css';
    @import (css, inline) 'codemirror/theme/ambiance.css';
    @import (css, inline) 'codemirror/theme/ambiance-mobile.css';
    @import (css, inline) 'codemirror/theme/base16-dark.css';
    @import (css, inline) 'codemirror/theme/base16-light.css';
    @import (css, inline) 'codemirror/theme/bespin.css';
    @import (css, inline) 'codemirror/theme/blackboard.css';
    @import (css, inline) 'codemirror/theme/cobalt.css';
    @import (css, inline) 'codemirror/theme/colorforth.css';
    @import (css, inline) 'codemirror/theme/dracula.css';
    @import (css, inline) 'codemirror/theme/eclipse.css';
    @import (css, inline) 'codemirror/theme/elegant.css';
    @import (css, inline) 'codemirror/theme/erlang-dark.css';
    @import (css, inline) 'codemirror/theme/hopscotch.css';
    @import (css, inline) 'codemirror/theme/icecoder.css';
    @import (css, inline) 'codemirror/theme/isotope.css';
    @import (css, inline) 'codemirror/theme/lesser-dark.css';
    @import (css, inline) 'codemirror/theme/liquibyte.css';
    @import (css, inline) 'codemirror/theme/material.css';
    @import (css, inline) 'codemirror/theme/mbo.css';
    @import (css, inline) 'codemirror/theme/mdn-like.css';
    @import (css, inline) 'codemirror/theme/midnight.css';
    @import (css, inline) 'codemirror/theme/monokai.css';
    @import (css, inline) 'codemirror/theme/neat.css';
    @import (css, inline) 'codemirror/theme/neo.css';
    @import (css, inline) 'codemirror/theme/night.css';
    @import (css, inline) 'codemirror/theme/paraiso-dark.css';
    @import (css, inline) 'codemirror/theme/paraiso-light.css';
    @import (css, inline) 'codemirror/theme/pastel-on-dark.css';
    @import (css, inline) 'codemirror/theme/railscasts.css';
    @import (css, inline) 'codemirror/theme/rubyblue.css';
    @import (css, inline) 'codemirror/theme/seti.css';
    @import (css, inline) 'codemirror/theme/solarized.css';
    @import (css, inline) 'codemirror/theme/the-matrix.css';
    @import (css, inline) 'codemirror/theme/tomorrow-night-bright.css';
    @import (css, inline) 'codemirror/theme/tomorrow-night-eighties.css';
    @import (css, inline) 'codemirror/theme/ttcn.css';
    @import (css, inline) 'codemirror/theme/twilight.css';
    @import (css, inline) 'codemirror/theme/vibrant-ink.css';
    @import (css, inline) 'codemirror/theme/xq-dark.css';
    @import (css, inline) 'codemirror/theme/xq-light.css';
    @import (css, inline) 'codemirror/theme/yeti.css';
    @import (css, inline) 'codemirror/theme/zenburn.css';

	.error-gutter {
        width: 1em;
	}
	.CodeMirror {
		-webkit-user-select: text;

		&:hover > .ps-container {
			& > .ps-scrollbar-x-rail, & > .ps-scrollbar-y-rail {
				opacity: 0.6;
			}
			& > .ps-scrollbar-x-rail:hover, & > .ps-scrollbar-y-rail:hover {
				opacity: 0.9;
			}
		}
	}

	pre {
		-webkit-user-select: text;
	}
</style>

<template>
    <pre :class="['cm-s-' + theme]"></pre>
</template>

<script>
	import CodeMirror from 'codemirror';

    import 'codemirror/mode/sql/sql';

    import 'codemirror/addon/fold/foldcode';
    import 'codemirror/addon/fold/foldgutter';
	import 'codemirror/addon/runmode/runmode';
	import 'codemirror/addon/runmode/colorize';
    import 'codemirror/addon/scroll/simplescrollbars';
    import 'codemirror/addon/display/rulers'; //(cf. Vim's `colorColumn`)

	export default {
        props: {
            code: { type: String, required: true },
            theme: { type: String, default: 'ambiance' },
			mode: { type: String, default: 'text/x-sql' },
            options: { type: Object },
        },
		methods: {
			render() {
				CodeMirror.runMode(this.code, this.mode, this.$el, this.options);
				this.$nextTick(() => {
					this.$emit('resize');
				});
			}
		},
        ready() {
			this.$nextTick(() => {
				this.$watch('code', () => this.render());
				this.$watch('mode', () => this.render());
				this.$watch('options', () => this.render(), { immediate: true });
			});
        },
	};
</script>
