<style lang="less">
	#connection-bar {
		ul.uk-nav-offcanvas.uk-sortable > li > .uk-sortable-handle {
			padding: 10px 5px;
			color: rgba(0, 0, 0, 0.25);
			text-shadow: 1px 1px rgba(255, 255, 255, 0.175);
			float: left;
			clear: left;
		}
	}
</style>

<template>
	<div class="uk-offcanvas" id="connection-bar">

		<div class="uk-offcanvas-bar" v-scrollbar>
			<ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
				<li class="uk-nav-header">Connections</li>
			</ul>
			<ul v-el:sortable class="uk-nav uk-nav-offcanvas uk-sortable" data-uk-nav>
				<li v-for="connection in connectionConfigs | orderBy 'position'" track-by="name"
						:class="{'uk-disabled': !!connectPending}" :data-name="connection.name">
					<a href="" @click.prevent="connect(connection.name)" class="nav-item-main"
							:style="{color: connection.config.color || 'inherit'}" v-tooltip="connection.name">
						<i v-if="connectPending == connection.name" class="uk-icon-circle-o-notch uk-icon-spin"></i>
						<i v-if="connectPending != connection.name" class="uk-icon-database"></i>
						{{ connection.name }}
					</a>

					<div class="uk-sortable-handle"><i class="uk-icon-bars"></i></div>

					<a href="" @click.prevent="connectionService.deleteConnectionConfig(connection.name)"
							class="nav-item-action danger-on-hover" v-tooltip="'Remove ' + connection.name">
						<i class="uk-icon-remove"></i>
					</a>

					<a href="" @click.prevent="showEditConnection(connection.name)"
							class="nav-item-action primary-on-hover" v-tooltip="'Edit ' + connection.name">
						<i class="uk-icon-edit"></i>
					</a>

					<a href="" v-if="connectionService.lastErrorConnectionName == connection.name"
							class="nav-item-action error-indicator"
							v-tooltip="{ text: 'Last ' + connectionService.lastError.toString(), cls: 'uk-tooltip-danger' }">
						<i class="uk-icon-exclamation-circle"></i>
					</a>

					<div class="nav-item-action-fade"></div>
				</li>
			</ul>
			<ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
				<li><a href="" @click.prevent="disconnect">
					<i v-if="disconnectPending" class="uk-icon-circle-o-notch uk-icon-spin"></i>
					<i v-if="!disconnectPending" class="uk-icon-plug warning-on-hover"></i>
					Disconnect
				</a></li>
				<li><a href="" @click.prevent="showAddConnection"><i class="uk-icon-plus success-on-hover"></i> Add new connection...</a></li>

				<template data-uk-nav v-if="connectionService.currentConnection">
					<li class="uk-nav-divider"></li>
					<li><a href="" @click.prevent="$refs.settingsModal.show()"><i class="uk-icon-cogs primary-on-hover"></i> Session Settings...</a></li>
				</template>
			</ul>
		</div>

	</div>

	<modal v-ref:settings-modal>
		<div slot="header">
			<h2>Session Settings</h2>
		</div>

		<div slot="body" v-scrollbar>
			<detail-table :data="dbObj.settings" :tooltips="dbObj.settingDescriptions"></detail-table>
		</div>
	</modal>

	<modal v-ref:edit-modal>
		<div slot="header">{{ editModalTitle }}</div>

		<validator slot="body" name="editModal"><form class="uk-form">

			<div class="uk-grid uk-grid-small">
				<label class="uk-form-label uk-width-medium-1-4" for="editModal-name">Connection Name:</label>
				<div class="uk-width-medium-1-4">
					<input type="text" id="editModal-name" class="uk-width-1-1" v-model="editModalConnName"
							v-validate:name="['required']" :class="validatorClass('name')" :disabled="editModalWorking.active">
				</div>

				<label class="uk-form-label uk-width-medium-1-4" for="editModal-color">Color:</label>
				<div class="uk-width-medium-1-4">
					<input type="color" id="editModal-color" class="uk-width-1-1"
							v-model="editModalConnection.color" :disabled="editModalWorking.active">
				</div>

				<p class="uk-form-help-block uk-text-danger uk-width-1-1" v-for="error in ($editModal.name || {}).messages">
					<i class="uk-icon-exclamation-circle"></i>
					{{ error }}
				</p>

				<!-- HACK -->
				<div class="uk-width-1-1 uk-margin-top"></div>

				<label class="uk-form-label uk-width-medium-1-4" for="editModal-client">Driver:</label>
				<div class="uk-width-medium-1-4">
					<select id="editModal-client" class="uk-width-1-1" v-model="editModalConnection.client"
							v-validate:client="['required']">
						<option v-for="(driverName, driver) in connectionService.drivers" :value="driver">
							{{ driverName }}
						</option>
					</select>
				</div>

				<p class="uk-form-help-block uk-text-danger uk-width-1-1" v-for="error in ($editModal.client || {}).messages">
					<i class="uk-icon-exclamation-circle"></i>
					{{ error }}
				</p>

				<!-- HACK -->
				<div class="uk-width-1-1 uk-margin-top"></div>

				<label class="uk-form-label uk-width-medium-1-4" for="editModal-server">Server:</label>
				<div class="uk-form-icon uk-width-medium-1-4">
					<i class="uk-icon-server"></i>
					<input type="text" id="editModal-server" class="uk-width-1-1"
							v-model="editModalConnection.connection.host" :disabled="editModalWorking.active">
				</div>

				<label class="uk-form-label uk-width-medium-1-4" for="editModal-database">Database:</label>
				<div class="uk-form-icon uk-width-medium-1-4">
					<i class="uk-icon-database"></i>
					<input type="text" id="editModal-database" class="uk-width-1-1"
							v-model="editModalConnection.connection.database" :disabled="editModalWorking.active">
				</div>

				<!-- HACK -->
				<div class="uk-width-1-1 uk-margin-top"></div>

				<label class="uk-form-label uk-width-medium-1-4" for="editModal-user">Username:</label>
				<div class="uk-form-icon uk-width-medium-1-4">
					<i class="uk-icon-user"></i>
					<input type="text" id="editModal-user" class="uk-width-1-1"
							v-model="editModalConnection.connection.user" :disabled="editModalWorking.active">
				</div>

				<label class="uk-form-label uk-width-medium-1-4" for="editModal-password">Password:</label>
				<div class="uk-form-icon uk-width-medium-1-4">
					<i class="uk-icon-key"></i>
					<input type="password" id="editModal-password" class="uk-width-1-1"
							v-model="editModalConnection.connection.password" :disabled="editModalWorking.active">
				</div>

				<!-- HACK -->
				<div class="uk-width-1-1 uk-margin-top" v-if="editModalConnection.client == 'pg'"></div>

				<label class="uk-form-label uk-width-medium-1-4" v-if="editModalConnection.client == 'pg'">
					<input type="checkbox" id="editModal-ssl" v-model="editModalConnection.connection.requireSSL"
							:disabled="editModalWorking.active">
					<i class="uk-icon-lock"></i> Use SSL
				</label>

				<label class="uk-form-label uk-width-medium-1-4" v-if="editModalConnection.client == 'pg'">
					<input type="checkbox" id="editModal-ssl"
							v-model="editModalConnection.connection.allowSelfSignedSSL"
							:disabled="editModalWorking.active">
					<i class="uk-icon-certificate"></i> Allow self-signed certificates
				</label>
			</div>

		</form></validator>

		<div slot="footer">
			<button class="uk-button uk-button-primary" type="button" @click.prevent="saveConnection" :disabled="editModalWorking.active">
				<i :class="{'uk-icon-save': !editModalWorking.active, 'uk-icon-spinner': editModalWorking.active, 'uk-icon-spin': editModalWorking.active}"></i> Save
			</button>
			<button class="uk-button uk-button-danger" type="button" @click.prevent="hideEditModal" :disabled="editModalWorking.active">
				<i class="uk-icon-close"></i> Cancel
			</button>
		</div>
	</modal>
</template>

<script>
	import _ from 'lodash';
	import Vue from 'vue';

	import DetailTable from './DetailTable.vue';
	import Modal from './Modal.vue';

	import { save as saveConfig } from '../services/config';
	import connectionService from '../services/connection';
	import Indicator from '../services/Indicator';
	import { addMessage } from '../services/messages';


	export default {

		components: {
			DetailTable,
			Modal,
		},

		data() {
			return {
				connectionService,
				connectPending: null,
				disconnectPending: false,
				editModalTitle: null,
				editModalConnName: null,
				editModalOriginalConnName: null,
				editModalConnection: { connection: {} },
				editModalWorking: new Indicator(),
			};
		},

		computed: {
			connectionConfigs() {
				return _(connectionService.connectionConfigs)
					.toPairs()
					.map(([name, connConfig], index) => ({ name, config: connConfig, position: (connConfig.position !== undefined) ? connConfig.position : (100000000000 + index) }))
					.value();
			},
			dbObj() {
				return (connectionService.currentConnection || {}).dbObjects || {};
			},
		},

		methods: {
			connect(connectionName) {
				this.connectPending = true;

				return connectionService.connect(connectionName)
					.then(result => {
						UIkit.offcanvas.hide('#connection-bar');
						return result;
					})
					.catch((error) => {
						addMessage({
							status: 'danger',
							message: `Error connecting to "${connectionName}": ${error.toString()}`,
							details: { error }
						});
					})
					.finally(() => this.connectPending = null);
			},
			disconnect() {
				this.disconnectPending = true;

				return connectionService.disconnect()
					.then(result => {
						UIkit.offcanvas.hide('#connection-bar');
						return result;
					})
					.finally(() => this.disconnectPending = false);
			},
			validatorClass(fieldName) {
				if(!this.$editModal[fieldName]) {
					console.warn('Validator has no field "' + fieldName + '"!');
					return [];
				}
				return this.$editModal[fieldName].invalid ? ['uk-form-danger'] : [];
			},
			showAddConnection() {
				this.editModalTitle = "Add New Connection";
				this.editModalConnName = null;
				this.editModalOriginalConnName = null;
				this.editModalConnection = { client: null, connection: {}, color: '#dddddd' };
				this.$resetValidation();

				this.$refs.editModal.show();
			},
			showEditConnection(connectionName) {
				this.editModalTitle = "Edit Connection " + JSON.stringify(connectionName);
				this.editModalConnName = connectionName;
				this.editModalOriginalConnName = connectionName;
				this.editModalConnection = _.cloneDeep(connectionService.connectionConfigs[connectionName]);
				this.editModalConnection.color = this.editModalConnection.color || '#dddddd';
				this.$resetValidation();

				if(this.editModalConnection.client == 'mssql') {
					this.editModalConnection.connection.host = this.editModalConnection.connection.server;
					delete this.editModalConnection.connection.server;
				}

				this.$refs.editModal.show();
			},
			saveConnection() {
				if(_.isEmpty(this.editModalConnName)) {
					addMessage({
						status: 'warning',
						message: "You must specify a name for the connection!",
						timeout: 1500
					});
					return;
				} // end if

				var finishSave = () => {
					if(this.editModalConnection.client == 'mssql') {
						this.editModalConnection.connection.server = this.editModalConnection.connection.host;
						delete this.editModalConnection.connection.host;
					}

					return connectionService.setConnectionConfig(this.editModalConnName, this.editModalConnection);
				};

				return this.editModalWorking.indicate(() => {
					if(this.editModalConnName != this.editModalOriginalConnName && this.editModalOriginalConnName != null) {
						return connectionService.deleteConnectionConfig(this.editModalOriginalConnName)
							.then(() => {
								this.editModalOriginalConnName = this.editModalConnName;
								return finishSave();
							});
					} else {
						return finishSave();
					}
				})
					.then(() => {
						this.$refs.editModal.hide();
					});
			},
			hideEditModal() {
				this.$refs.editModal.hide();
			},
		},

		ready() {
			this.notifyResize = _.throttle(() => this.$nextTick(() => this.$broadcast('resize')), 50);

			//FIXME: This doesn't work! (and neither does adding data-uk-grid-margin):
			//UIkit.gridMargin(".uk-grid", this.$el);

			this.sortable = UIkit.sortable(this.$els.sortable);

			// When a connection is dragged, recalculate the sort positions of each connection config.
			this.sortable.on('change.uk.sortable', (event, sortableObject/*, draggedElem, action*/) => {
				this.$nextTick(() => {
					sortableObject.element.children().each((index, elem) => {
						var connName = elem.getAttribute('data-name');
						var connConf = connectionService.connectionConfigs[connName];
						Vue.set(connConf, 'position', index);
					});

					saveConfig();
				});
			});
		},

	};
</script>
