<style lang="less">
	.detail-table {
		& > table {
			margin: 0;

			& > tbody > tr, & > thead > tr {
				& > th, & > td {
					vertical-align: text-top;
					padding-top: 0;
					padding-bottom: 0;
					-webkit-user-select: text;

					.uk-panel.uk-panel-box {
						display: inline-block;
						vertical-align: text-top;
						padding: 0;
						margin: 5px;
						overflow: hidden;
					}

					& > ul {
						padding-left: 14px;

						&, & > li {
							margin: 0;
						}
					}
				}
			}
		}
	}
</style>

<template>
	<div class="detail-table" v-scrollbar>
		<table v-if="data" class="uk-table uk-table-condensed uk-table-striped uk-table-hover">
			<tbody>
				<tr v-for="(key, val) in data" v-tooltip="(this.tooltips || {})[key]">
					<th class="uk-text-right uk-text-small">{{ key }}:</th>

					<td v-if="valueType(val) == 'array'">
						<ul>
							<li v-for="subVal in val" track-by="$index">
								<code v-if="valueType(subVal) == 'array'" class="uk-text-nowrap no-box">{{ subVal | json }}</code>
								<code v-if="valueType(subVal) == 'null'" class="uk-text-nowrap no-box null">NULL</code>
								<div v-if="valueType(subVal) == 'object'" class="uk-panel uk-panel-box uk-panel-box-secondary">
									<detail-table :data="subVal"></detail-table>
								</div>
								<code v-if="valueType(subVal) == 'other'" class="uk-text-nowrap no-box">{{ subVal }}</code>
							</li>
						</ul>
					</td>
					<td v-if="valueType(val) == 'null'" class="code"><span class="null">NULL</span></td>
					<td v-if="valueType(val) == 'object'">
						<div class="uk-panel uk-panel-box uk-panel-box-secondary">
							<detail-table :data="val"></detail-table>
						</div>
					</td>
					<td v-if="valueType(val) == 'other'" class="code">{{ val }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
	import _ from 'lodash';

	export default {

		name: 'detail-table',

		props: {
			data: { type: Object },
			tooltips: { type: Object },
		},

		methods: {
			valueType(value) {
				if(_.isArray(value)) {
					return 'array';
				} else if(_.isNull(value)) {
					return 'null';
				} else if(_.isObject(value)) {
					return 'object';
				} else {
					return 'other';
				}
			},
		},

		ready() {
			this.$watch('data', () => {
				this.$nextTick(() => {
					this.$emit('resize');
				});
			}, { immediate: true });
		},

	};
</script>
