<style lang="less">
    @import (css, inline) 'codemirror/lib/codemirror.css';

    @import (css, inline) 'codemirror/theme/3024-day.css';
    @import (css, inline) 'codemirror/theme/3024-night.css';
    @import (css, inline) 'codemirror/theme/abcdef.css';
    @import (css, inline) 'codemirror/theme/ambiance.css';
    @import (css, inline) 'codemirror/theme/ambiance-mobile.css';
    @import (css, inline) 'codemirror/theme/base16-dark.css';
    @import (css, inline) 'codemirror/theme/base16-light.css';
    @import (css, inline) 'codemirror/theme/bespin.css';
    @import (css, inline) 'codemirror/theme/blackboard.css';
    @import (css, inline) 'codemirror/theme/cobalt.css';
    @import (css, inline) 'codemirror/theme/colorforth.css';
    @import (css, inline) 'codemirror/theme/dracula.css';
    @import (css, inline) 'codemirror/theme/eclipse.css';
    @import (css, inline) 'codemirror/theme/elegant.css';
    @import (css, inline) 'codemirror/theme/erlang-dark.css';
    @import (css, inline) 'codemirror/theme/hopscotch.css';
    @import (css, inline) 'codemirror/theme/icecoder.css';
    @import (css, inline) 'codemirror/theme/isotope.css';
    @import (css, inline) 'codemirror/theme/lesser-dark.css';
    @import (css, inline) 'codemirror/theme/liquibyte.css';
    @import (css, inline) 'codemirror/theme/material.css';
    @import (css, inline) 'codemirror/theme/mbo.css';
    @import (css, inline) 'codemirror/theme/mdn-like.css';
    @import (css, inline) 'codemirror/theme/midnight.css';
    @import (css, inline) 'codemirror/theme/monokai.css';
    @import (css, inline) 'codemirror/theme/neat.css';
    @import (css, inline) 'codemirror/theme/neo.css';
    @import (css, inline) 'codemirror/theme/night.css';
    @import (css, inline) 'codemirror/theme/paraiso-dark.css';
    @import (css, inline) 'codemirror/theme/paraiso-light.css';
    @import (css, inline) 'codemirror/theme/pastel-on-dark.css';
    @import (css, inline) 'codemirror/theme/railscasts.css';
    @import (css, inline) 'codemirror/theme/rubyblue.css';
    @import (css, inline) 'codemirror/theme/seti.css';
    @import (css, inline) 'codemirror/theme/solarized.css';
    @import (css, inline) 'codemirror/theme/the-matrix.css';
    @import (css, inline) 'codemirror/theme/tomorrow-night-bright.css';
    @import (css, inline) 'codemirror/theme/tomorrow-night-eighties.css';
    @import (css, inline) 'codemirror/theme/ttcn.css';
    @import (css, inline) 'codemirror/theme/twilight.css';
    @import (css, inline) 'codemirror/theme/vibrant-ink.css';
    @import (css, inline) 'codemirror/theme/xq-dark.css';
    @import (css, inline) 'codemirror/theme/xq-light.css';
    @import (css, inline) 'codemirror/theme/yeti.css';
    @import (css, inline) 'codemirror/theme/zenburn.css';

    @import (css, inline) 'codemirror/addon/dialog/dialog.css';
    @import (css, inline) 'codemirror/addon/display/fullscreen.css';
    @import (css, inline) 'codemirror/addon/fold/foldgutter.css';
    @import (css, inline) 'codemirror/addon/hint/show-hint.css';
    @import (css, inline) 'codemirror/addon/merge/merge.css';
    @import (css, inline) 'codemirror/addon/scroll/simplescrollbars.css';
    @import (css, inline) 'codemirror/addon/search/matchesonscrollbar.css';

	.error-gutter {
        width: 1em;
	}
    .CodeMirror:hover > .ps-container {
        & > .ps-scrollbar-x-rail, & > .ps-scrollbar-y-rail {
            opacity: 0.6;
        }
        & > .ps-scrollbar-x-rail:hover, & > .ps-scrollbar-y-rail:hover {
            opacity: 0.9;
        }
    }
</style>

<template>
    <div></div>
</template>

<script>
	import _ from 'lodash';

	import CodeMirror from 'codemirror';

    import 'codemirror/mode/sql/sql';

    import 'codemirror/addon/dialog/dialog';
    import 'codemirror/addon/search/searchcursor';
    import 'codemirror/addon/search/search';
    import 'codemirror/addon/search/jump-to-line';
    import 'codemirror/addon/search/matchesonscrollbar';
    import 'codemirror/addon/edit/matchbrackets';
    import 'codemirror/addon/edit/closebrackets';
    import 'codemirror/addon/edit/trailingspace';
    import 'codemirror/addon/comment/comment';
    import 'codemirror/addon/fold/foldcode';
    import 'codemirror/addon/fold/foldgutter';
    import 'codemirror/addon/hint/show-hint';
    import 'codemirror/addon/hint/sql-hint';
    import 'codemirror/addon/hint/anyword-hint';
    import 'codemirror/addon/search/match-highlighter';
    import 'codemirror/addon/selection/mark-selection';
    import 'codemirror/addon/selection/active-line';
    import 'codemirror/addon/comment/continuecomment';
    import 'codemirror/addon/scroll/simplescrollbars';
    import 'codemirror/addon/scroll/annotatescrollbar';
    import 'codemirror/addon/display/rulers'; //(cf. Vim's `colorColumn`)
    import 'codemirror/addon/display/fullscreen';
    /*TODO: Create addon:
     - Something like `dialog/dialog.js`, but using UIkit. (implement same API as `CodeMirror.openDialog()`)
    */
    /*TODO: _Possibly_ pull in more addons: _(make sure to check needed CSS as well!)_
     - display/panel
     - mode/overlay
    */

    import 'codemirror/keymap/vim';
    import 'codemirror/keymap/sublime';
    import 'codemirror/keymap/emacs';
    //TODO: Support setting keymap.
    //TODO: Support setting custom key bindings in addition to the chosen keymap.

    //TODO: Check out http://codemirror.net/doc/manual.html#addLineWidget

    //////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // Hack around the fact that `codemirror/addon/merge/merge` expects `diff_match_patch` to be globally defined.
    import diff_match_patch from 'googlediff';
    //TODO: Allow using `native-diff-match-patch` instead?
    //import diff_match_patch from 'native-diff-match-patch';

    global.diff_match_patch = diff_match_patch;
    require('codemirror/addon/merge/merge');
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////

    import scrollbar from '../directives/scrollbar';

    const defaultOptions = {
        lineNumbers: true,
        indentUnit: 4,
        gutters: [
            'CodeMirror-foldgutter',
            'error-gutter',
        ],
        allowDropFileTypes: [
            'text/x-sql',
            'text/x-mysql',
            'text/x-mariadb',
            'text/x-cassandra',
            'text/x-plsql',
            'text/x-mssql',
            'text/x-hive',
            'text/x-pgsql',
            'application/text',
        ],
    };

	export default {
        props: {
            document: { type: CodeMirror.Doc, required: true },
            theme: { type: String, default: 'ambiance' },
            options: { type: Object },
        },
        ready() {
            this.cm = new CodeMirror(this.$el, _.defaults({
                value: this.document,
                theme: this.theme,
            }, this.options, defaultOptions));

            var cmWrapper = this.cm.getWrapperElement();

            var vScrollbar = cmWrapper.getElementsByClassName('CodeMirror-vscrollbar')[0];
            scrollbar.initialize(vScrollbar, { suppressScrollX: true });
            vScrollbar.style.width = '11px';

            var hScrollbar = cmWrapper.getElementsByClassName('CodeMirror-hscrollbar')[0];
            scrollbar.initialize(hScrollbar, { suppressScrollY: true });
            hScrollbar.style.height = '11px';

            this.$watch('theme', (theme) => this.cm.setOption('theme', theme));

			this.$on('resize', () => this.cm.setSize(this.$el.offsetWidth, this.$el.offsetHeight));

			this.$nextTick(() => {
				this.cm.setSize(this.$el.offsetWidth, this.$el.offsetHeight);
			});
        },
	};
</script>
