<style lang="less">
	.filtered-list {
		.padded {
			padding: 5px;
		}
		.wrapped {
			white-space: normal;
		}
		& > ul.uk-nav-offcanvas > li {
			overflow: hidden;
		}
	}
</style>

<template>
	<div class="filtered-list uk-flex uk-flex-column uk-height-1-1">
		<nav class="uk-navbar uk-navbar-attached no-flex-shrink">
			<form class="uk-form uk-flex uk-width-1-1" @submit.prevent="">
				<input class="uk-flex-item-1" type="text" placeholder="Filter" v-model="searchText"
						:class="{'uk-form-danger': searchParseError}"
						v-tooltip="{ text: searchParseError, cls: 'uk-tooltip-danger', autoShow: true, debug: true }">

				<div v-if="hasOrderByKeyChoices" class="uk-button-dropdown no-flex-shrink"
						data-uk-dropdown="{pos:'bottom-right', mode:'click'}">
					<button type="button" class="uk-button" v-tooltip="{ text: 'Sort' }">
						<i class="uk-icon-sort-amount-desc"></i>
					</button>
					<div class="uk-dropdown uk-dropdown-small">
						<ul class="uk-nav uk-nav-dropdown uk-nav-parent-icon">
							<li v-for="(orderByKeyChoice, orderByKeyChoiceDisplay) in orderByKeyChoices"
									:class="{'uk-active': orderByKey == orderByKeyChoice}">
								<a href="" @click.prevent="setOrderBy(orderByKeyChoice)">
									<i :class="orderByChoiceClass(orderByKeyChoice)"
											class="uk-icon-justify"></i>
									{{ orderByKeyChoiceDisplay }}
								</a>
							</li>
						</ul>
					</div>
				</div>
				<button v-if="refresh" type="button" @click.prevent="refresh"
						class="uk-button" v-tooltip="{ text: 'Refresh' }">
					<i class="uk-icon-refresh"></i>
				</button>
			</form>
		</nav>

		<ul class="uk-nav uk-nav-offcanvas uk-position-relative" v-scrollbar>
			<li v-for="item in items | filterBy filterItem | orderBy orderByKey orderByOrder | limitBy itemLimit" track-by="id"
					:class="actualItemClass(item)" v-scrollbar>
				<a v-if="htmlDisplayKey" href="" class="default-cursor" @click.prevent="selected = item">{{{ item[htmlDisplayKey] }}}</a>
				<a v-if="!htmlDisplayKey" href="" class="default-cursor" @click.prevent="selected = item">{{ item[displayKey] }}</a>
			</li>
		</ul>
	</div>
</template>

<script>
	import _ from 'lodash';
	import fuzzy from 'fuzzy';
	import { parse as parseSearch } from 'lucene-query-parser';

	const itemLimit = 500;

	function coerceToObject(val, key) {
		return _.isArray(val) ? _.keyBy(val, key) : val;
	}

    export default {
		props: {
			items: { type: Array },
			displayKey: { type: String, default: 'name' },
			htmlDisplayKey: { type: String },
			searchByKey: { type: String, default: 'name' },
			searchText: { type: String, default: '' },
			orderByKeyChoices: { coerce: (val) => coerceToObject(val), default: () => {} },
			orderByKey: { type: String },
			selected: { twoWay: true },
			itemClass: { coerce: (val) => _.isString(val) ? [val] : val, default: () => [] },
			refresh: { type: Function, default: null },
		},

		data() {
			return {
				searchParseError: '',
				orderByOrder: 1,
				itemLimit,
			};
		},

		computed: {
			_() {
				return _;
			},
			hasOrderByKeyChoices() {
				return Object.keys(this.orderByKeyChoices).length > 0;
			},
			itemFilter() {
				try {
					this.searchParseError = '';
					return this.parsedSearchToFilterFunc(parseSearch(this.searchText));
				} catch(exc) {
					this.searchParseError = exc.toString();
					return function() { return true; };
				}
			},
		},

		methods: {
			actualItemClass(item) {
				if(this.selected == item) {
					return this.itemClass.concat('uk-active');
				} else {
					return this.itemClass;
				}
			},

			parsedSearchToFilterFunc(search, defaultField) {
				if(_.isEmpty(search)) {
					return function() { return true; };
				} else if(search.left && !search.right && !search.operator) {
					return this.parsedSearchToFilterFunc(search.left, search.field || defaultField);
				} else if(search.left && search.right && search.operator) {
					// This is a binary operator node; recursively parse `left` and `right`, and return a function that
					// combines them using `operator`.
					const leftFunc = this.parsedSearchToFilterFunc(search.left, search.field || defaultField);
					const rightFunc = this.parsedSearchToFilterFunc(search.right, search.field || defaultField);

					switch(search.operator) {
						case '<implicit>':
						case 'AND':
							return function(item) { return leftFunc(item) && rightFunc(item); };
						case 'OR':
							return function(item) { return leftFunc(item) || rightFunc(item); };
						default:
							throw new Error(`Unrecognized operator: ${JSON.stringify(search.operator)}`);
					}
				} else if(search.field) {
					// This is a leaf node that defines a match against a given field.
					if(search.field == '<implicit>') {
						search.field = defaultField || this.searchByKey;
					}

					let getter = _.property(search.field);

					if(search.term) {
						// A string match node.
						if(search.similarity && search.similarity < 1) {
							return function(item) {
								return fuzzy.test(search.term, getter(item));
							};
						} else {
							return function(item) {
								return _.includes(getter(item), search.term);
							};
						}
					} else if(search.term_min && search.term_max) {
						// A range match node.
						if(search.inclusive) {
							return function(item) {
								var val = getter(item);
								return val >= search.term_min && val <= search.term_max;
							};
						} else {
							return function(item) {
								var val = getter(item);
								return val > search.term_min && val < search.term_max;
							};
						}
					}
				} else {
					// Unrecognized node type! Throw an error.
					throw new Error(`Unrecognized node: ${JSON.stringify(search)}`);
				}
			},
			filterItem(item) {
				return this.itemFilter(item);
			},

			orderByChoiceClass(orderByKeyChoice) {
				if(this.orderByKey != orderByKeyChoice) {
					return [];
				} else if(this.orderByOrder < 0) {
					return ['uk-icon-sort-desc'];
				} else if(this.orderByOrder >= 0) {
					return ['uk-icon-sort-asc'];
				}
			},
			setOrderBy(orderByKeyChoice) {
				if(this.orderByKey == orderByKeyChoice) {
					this.orderByOrder = -this.orderByOrder;
				} else {
					this.orderByKey = orderByKeyChoice;
					this.orderByOrder = 1;
				}
			},
		},

		ready() {
			this.notifyResize = _.throttle(() => this.$broadcast('resize'), 50);

			this.$watch('items', () => this.notifyResize());
			this.$watch('searchText', () => this.notifyResize());
			this.$watch('searchByKey', () => this.notifyResize());
		},
	};
</script>
