<style lang="less">
	#global-settings {
		& > .uk-offcanvas-bar {
			width: 340px;
		}
	}
</style>

<template>
	<div id="global-settings" class="uk-offcanvas">
		<div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
			<div class="uk-panel">
				<h3 class="uk-panel-title">
					<i v-if="connectPending == connectionName" class="uk-icon-circle-o-notch uk-icon-spin"></i>
					<i v-if="connectPending != connectionName" class="uk-icon-cogs"></i>
					Settings
				</h3>

				<form class="uk-form">
					<fieldset data-uk-margin>
						<label for="app-theme">App theme:</label>
						<select id="app-theme" v-model="config.stylesheet" @input="save()">
							<option v-for="(themeURL, themeDescription) in appThemes" :value="themeURL">{{ themeDescription }}</option>
						</select>
					</fieldset>
				</form>
			</div>

			<ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
				<li><a href="" @click.prevent="queryShortcut()">Shortcut Input Dialog...</a></li>
				<li><a href="" @click.prevent="$refs.keyTestModal.show()">Key Input Test...</a></li>
			</ul>

			<ul class="uk-nav uk-nav-offcanvas" data-uk-nav>
				<li class="uk-nav-header">Shortcuts</li>

				<li v-for="(context, actions) in contextActions" class="uk-parent">
					<a href="#">{{ context }}</a>
					<ul class="uk-nav-sub">
						<template v-for="(key, shortcutDefs) in config.shortcuts[context]">
							<li v-for="shortcutDef in shortcutDefs">
								<a href="" @click.prevent="removeShortcut(context, shortcutDef)" class="nav-item-action danger-on-hover" v-tooltip title="Delete shortcut">
									<i class="uk-icon-remove"></i>
								</a>

								<a href="" @click.prevent="editShortcut(context, shortcutDef)" v-tooltip title="Edit shortcut">
									<em class="uk-float-right">{{ displayShortcutKeyCombo(shortcutDef, key) }}</em>

									<i v-if="connectPending != connectionName" class="uk-icon-database"></i>
									{{ displayShortcutAction(shortcutDef) }}
								</a>
							</li>
						</template>
						<li><a href="" @click.prevent="addShortcut(context)" class="uk-text-muted">Add shortcut...</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<shortcut-dialog v-ref:shortcut-dialog></shortcut-dialog>

	<modal v-ref:key-test-modal :dialog-class="['uk-modal-dialog-large']">
		<div slot="header">Key Input Test</div>

		<key-test slot="body"></key-test>

		<div slot="footer">
			<button class="uk-button uk-button-danger" type="button" @click.prevent="$refs.keyTestModal.hide()">
				<i class="uk-icon-close"></i> Close
			</button>
		</div>
	</modal>
</template>

<script>
	import KeyTest from './KeyTest.vue';
	import Modal from './Modal.vue';
	import ShortcutDialog from './ShortcutDialog.vue';

	import { config, save as saveConfig } from '../services/config';
	import Indicator from '../services/Indicator';
	import { contextActions, addShortcut, removeShortcut, displayShortcutAction, displayShortcutKeyCombo } from '../services/Shortcuts';


	export default {

		components: {
			KeyTest,
			Modal,
			ShortcutDialog,
		},

		data() {
			return {
				config,
				saving: new Indicator(),
				appThemes: {
					'css/dark.css': 'Dark theme',
					'css/light.css': 'Light theme'
				},
				keyTestModal: null,
				contextActions: {},
			};
		},

		methods: {
			save(configVar, value) {
				return this.saving.indicate(() => {
					if(configVar) {
						config[configVar] = value;
					}

					return saveConfig();
				});
			},

			addShortcut(context) {
				return this.$refs.shortcutDialog.getShortcut(`New "${context}" keyboard shortcut`, {}, context)
					.then(shortcutDef => addShortcut(context, shortcutDef))
					.then(() => this.save())
					.catch(ShortcutDialog.UserCanceled, () => console.log("User canceled shortcut dialog."));
			},

			editShortcut(context, shortcut) {
				removeShortcut(context, shortcut);

				return this.$refs.shortcutDialog.getShortcut(`Edit "${context}" keyboard shortcut`, shortcut, context)
					.then(shortcutDef => addShortcut(context, shortcutDef))
					.then(() => this.save())
					.catch(ShortcutDialog.UserCanceled, () => console.log("User canceled shortcut dialog."));
			},

			removeShortcut,
			displayShortcutAction,
			displayShortcutKeyCombo,

			queryShortcut() {
				return this.$refs.shortcutDialog.getShortcut()//title = "Keyboard Shortcut", currentShortcut = {})
					.then(shortcutDef => console.log("User entered shortcut:", shortcutDef))
					.catch(ShortcutDialog.UserCanceled, () => console.log("User canceled shortcut dialog."));
			},
		},

		ready() {
			this.keyTestModal = UIkit.modal(".uk-modal.key-input-test", this.$el)
				.on({
					'show.uk.modal': () => {
						this.$dispatch('shown');
					},
					'hide.uk.modal': () => {
						this.$dispatch('hidden');
					},
				});

			this.$nextTick(() => {
				this.contextActions = contextActions;
			});
		},

	};
</script>
