<style lang="less">
	.key-test {
		&, * { box-sizing: border-box; }

		input[type=text], button { background: #111; color: white; border-color: #555; border-width: 1px; margin: 0.5em; vertical-align: top; display: block; }

		.inline-block { display: inline-block; vertical-align: top; }

		.right {
			h4 { width: 6em; }
			pre { font-size: xx-small; background: #111; padding: 0.5em 1em; margin: 0.5em 0; }
			dl {
				font-size: xx-small; background: #111;
				padding: 0.5em 1em; margin: 0.5em 0;

				dt { float: left; width: 12em; }
				dd { margin-left: 12em; }
				dd, dt { padding: 0.25em; }
				dd:nth-child(4n), dt:nth-child(4n-1) { background: #191919; }
			}
		}
	}
</style>

<template>
	<div class="key-test">
		<div>
			<input type="text" placeholder="Press a key combination." @keydown.prevent="shortcuts.catchInput($event, 'enteredShortcut')" v-focus-on-show />
			<pre><code>{{displayShortcutKeyCombo(enteredShortcut)}}</code></pre>
		</div>

		<hr class="uk-clearfix" />

		<div class="inline-block">
			<input type="text" placeholder="Type here." @keydown.stop.prevent="keyEvent($event)" @keyup.stop.prevent="keyEvent($event)" @keypress.stop.prevent="keyEvent($event)" />
			<button @click.stop.prevent="events = []">Clear</button>
		</div>

		<div class="right inline-block">
			<div v-for="event in events">
				<h4 class="inline-block">{{ event.type }}</h4>
				<dl class="inline-block">
					<template v-for="(key, val) in event.details">
						<dt>{{ key }}</dt><dd>{{ val }}</dd>
					</template>
				</dl>
				<dl class="inline-block">
					<template v-for="(key, val) in event.propagation">
						<dt>{{ key }}</dt><dd>{{ val }}</dd>
					</template>
				</dl>
				<dl class="inline-block">
					<template v-for="(key, val) in event.modifiers">
						<dt>{{ key }}</dt><dd>{{ val }}</dd>
					</template>
				</dl>
			</div>
		</div>
	</div>
</template>

<script>
	import _ from 'lodash';

	import { default as Shortcuts, displayShortcutKeyCombo } from '../services/Shortcuts';


	export default {

		data() {
			return {
				events: [],
				shortcuts: new Shortcuts(this, 'KeyTest'),
				enteredShortcut: {},
			};
		},

		methods: {
			displayShortcutKeyCombo,

			keyEvent(event) {
				console.log('Key pressed:', event);
				this.events.unshift({
					type: event.type,
					details: _.pick(event, 'charCode', 'code', 'detail', 'key', 'keyCode', 'keyIdentifier',
						'keyLocation',
						'location', 'repeat', 'which'),
					propagation: _.pick(event, 'bubbles', 'cancelBubble', 'cancelable', 'defaultPrevented',
						'eventPhase',
						'isTrusted', 'returnValue', 'timeStamp'),
					modifiers: _.pick(event, 'altKey', 'ctrlKey', 'metaKey', 'shiftKey'),
				});
			},
		},

	};
</script>
