<style lang="less">
	.leaflet-map {
		.map-marker {
			&, &>svg {
				width: 22px;
				height: 29px;
			}
		}
		.color-icon {
			display: inline-block;
			width: 1em; height: 1em;
			border: 1px solid;
			vertical-align: text-bottom;
			margin-right: 1ex;
		}
	}
</style>

<template>
	<div class="leaflet-map">
	</div>
</template>

<script>
	import _ from 'lodash';
	import L from 'leaflet';
	import d3 from 'd3';
	import Vue from 'vue';

	import { config, save as saveConfig } from '../services/config';

	function htmlEscape(value) {
		if(value === null) {
			return 'NULL';
		}
		if(!_.isString(value)) {
			value = value.toString();
		}
		return value
			.replace(/&/g, '&amp;')
			.replace(/</g, '&lt;')
			.replace(/>/g, '&gt;')
			.replace(/"/g, '&quot;')
			.replace(/'/g, '&apos;');
	}

	function toTable(object) {
		return [].concat(
			'<table>',
			_.transform(object,
				(accum, value, key) =>
					accum.push(`<tr><th>${htmlEscape(key)}</th><td class="code">${htmlEscape(value)}</td></tr>`),
				[]
			),
			'</table>'
		)
		.join('');
	}

	L.Icon.Default.iconPath = 'images/marker-icon.png';
	L.Icon.Default.shadowPath = 'images/marker-icon.png';
	L.Icon.Default.prototype.options.iconUrl = 'images/marker-icon.png';
	L.Icon.Default.prototype.options.shadowUrl = 'images/marker-shadow.png';

	//TODO: For D3 v4:
	//const layerColors = d3.scaleOrdinal(d3.schemeCategory20);
	const layerColors = d3.scale.category20();

	var layerCount = 0;

	export default {

		props: {
			layers: { type: Array, default: () => [] },
		},

		data() {
			return {
				baseLayers: {
					// Found at http://leaflet-extras.github.io/leaflet-providers/preview/ :
					'CartoDB Dark Matter (OSM)': L.tileLayer(
						'http://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png',
						{
							attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
							subdomains: 'abcd',
							maxZoom: 19
						}
					),
					'CartoDB Positron (OSM)': L.tileLayer(
						'http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png',
						{
							attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
							subdomains: 'abcd',
							maxZoom: 19
						}
					),
					'MapQuest Open (OSM)': L.tileLayer(
						'http://otile{s}.mqcdn.com/tiles/1.0.0/{type}/{z}/{x}/{y}.{ext}',
						{
							type: 'map',
							ext: 'jpg',
							attribution: 'Tiles Courtesy of <a href="http://www.mapquest.com/">MapQuest</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
							subdomains: '1234'
						}
					),
					'MapQuest Open: Aerial': L.tileLayer(
						'http://otile{s}.mqcdn.com/tiles/1.0.0/{type}/{z}/{x}/{y}.{ext}',
						{
							type: 'sat',
							ext: 'jpg',
							attribution: 'Tiles Courtesy of <a href="http://www.mapquest.com/">MapQuest</a> &mdash; Portions Courtesy NASA/JPL-Caltech and U.S. Depart. of Agriculture, Farm Service Agency',
							subdomains: '1234'
						}
					),
					'Esri: World Imagery': L.tileLayer(
						'http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
						{
							attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
						}
					),
					'Esri: National Geographic World Map': L.tileLayer(
						'http://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}',
						{
							attribution: 'Tiles &copy; Esri &mdash; National Geographic, Esri, DeLorme, NAVTEQ, UNEP-WCMC, USGS, NASA, ESA, METI, NRCAN, GEBCO, NOAA, iPC',
							maxZoom: 16
						}
					),
					'Esri: World Physical': L.tileLayer(
						'http://server.arcgisonline.com/ArcGIS/rest/services/World_Physical_Map/MapServer/tile/{z}/{y}/{x}',
						{
							attribution: 'Tiles &copy; Esri &mdash; Source: US National Park Service',
							maxZoom: 8
						}
					),

					// Some of these were found at http://osmlab.github.io/editor-layer-index/ :
					'Natural Earth': L.tileLayer(
						'http://demo.opengeo.org/geoserver/gwc/service/tms/1.0.0/ne:ne@EPSG:900913@png/{z}/{x}/{-y}.png',
						{ attribution: '?' }
					),
					'OpenStreetMap (OSM)': L.tileLayer(
						'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
						{ attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors' }
					),
					'USGS Topographic Maps': L.tileLayer(
						'http://{s}.tile.openstreetmap.us/usgs_scanned_topos/{z}/{x}/{y}.png',
						{ subdomains: 'abc', attribution: 'USGS' }
					),
					'USGS Large Scale Imagery and Blue Marble': L.layerGroup(
						L.tileLayer(
							'http://demo.opengeo.org/geoserver/gwc/service/tms/1.0.0/nasa:bluemarble@EPSG:900913@jpg/{z}/{x}/{-y}.jpg',
							{ attribution: 'NASA', maxZoom: 11 }
						),
						L.tileLayer(
							'http://{s}.tile.openstreetmap.us/usgs_large_scale/{z}/{x}/{y}.jpg',
							{ subdomains: 'abc', attribution: 'USGS', minZoom: 12 }
						)
					),
				},
				overlays: {
					// Found at http://leaflet-extras.github.io/leaflet-providers/preview/ :
					'Hydda: Roads and Labels (OSM)': L.tileLayer(
						'http://{s}.tile.openstreetmap.se/hydda/roads_and_labels/{z}/{x}/{y}.png',
						{
							attribution: 'Tiles courtesy of <a href="http://openstreetmap.se/" target="_blank">OpenStreetMap Sweden</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
						}
					),
					'HikeBike Hill Shading (OSM)': L.tileLayer(
						'http://{s}.tiles.wmflabs.org/hillshading/{z}/{x}/{y}.png',
						{
							maxZoom: 12,
							attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
						}
					),
					'MapQuest Open: Hybrid Overlay (OSM)': L.tileLayer(
						'http://otile{s}.mqcdn.com/tiles/1.0.0/{type}/{z}/{x}/{y}.{ext}',
						{
							type: 'hyb',
							ext: 'png',
							attribution: 'Tiles Courtesy of <a href="http://www.mapquest.com/">MapQuest</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
							subdomains: '1234',
							opacity: 0.9
						}
					),
					'Stamen: Top OSM Features': L.tileLayer(
						'http://stamen-tiles-{s}.a.ssl.fastly.net/toposm-features/{z}/{x}/{y}.{ext}',
						{
							attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
							subdomains: 'abcd',
							minZoom: 0,
							maxZoom: 20,
							ext: 'png',
							bounds: [[22, -132], [51, -56]],
							opacity: 0.9
						}
					),
				},
				dataLayers: {},
			};
		},

		computed: {
			dataLayerDefsByName() {
				return _.keyBy(this.layers, 'name');
			},
		},

		methods: {
			addLayer(layerName, features) {
				if(_.isArray(features)) {
					features = {
						type: 'FeatureCollection',
						features
					};
				}

				var layerColor = layerColors(layerCount++);
				var newLayer = L.geoJson(features, {
					pointToLayer(geoJsonPoint, latlng) {
						return L.marker(latlng, {
							icon: L.divIcon({
								className: 'map-marker',
								iconSize: [22, 29],
								iconAnchor: [11, 29],
								html: `<svg viewBox="-11 -29 22 29"><path fill="${layerColor}" stroke="rgba(0,0,0,0.5)" d="M0,-28.8c-5.88,0,-10.62,4.68,-10.62,10.44c0,9.3,10.62,18.36,10.62,18.36s10.62,-9.24,10.62,-18.36c0,-5.76,-4.74,-10.44,-10.62,-10.44z"></path></svg>`,
							})
						});
					},
					style(/* geoJsonFeature */) {
						return {
							color: layerColor,
							weight: 1,
						};
					},
					onEachFeature(feature, layer) {
						return layer.bindPopup(toTable(feature.properties));
					},
				});

				Vue.set(this.dataLayers, layerName);

				var parsedLayerColor = d3.rgb(layerColor);
				var layerFillColor = `rgba(${parsedLayerColor.r},${parsedLayerColor.g},${parsedLayerColor.b},0.2)`;
				this.layersControl.addOverlay(newLayer,
					`<span class="color-icon" style="background-color: ${layerFillColor}; border-color: ${layerColor}"></span>${layerName}`);
				this.map.addLayer(newLayer);
			},
		},

		ready() {
			this.map = L.map(this.$el, {
				center: config.leafletMap.center,
				zoom: config.leafletMap.zoom,
				layers: [].concat(
					this.baseLayers[config.leafletMap.currentBaseLayer],
					_.map(config.leafletMap.currentOverlays, overlayName => this.overlays[overlayName])
				),
			})
				.on('moveend', () => {
					config.leafletMap.center = this.map.getCenter();
					saveConfig();
				})
				.on('zoomend', () => {
					config.leafletMap.zoom = this.map.getZoom();
					saveConfig();
				})
				.on('baselayerchange', event => {
					config.leafletMap.currentBaseLayer = event.name;
					saveConfig();
				})
				.on('overlayadd', event => {
					if(_.has(this.overlays, event.name)) {
						config.leafletMap.currentOverlays.push(event.name);
						saveConfig();
					}
				})
				.on('overlayremove', event => {
					if(_.has(this.overlays, event.name)) {
						_.pull(config.leafletMap.currentOverlays, event.name);
						saveConfig();
					}
				});

			L.control.scale().addTo(this.map);

			this.layersControl = L.control.layers(this.baseLayers, _.assign({}, this.overlays)).addTo(this.map);

			this.$watch('dataLayerDefsByName', (newVal, oldVal) => {
				var newNames = _.map(newVal, 'name');
				var oldNames = _.map(oldVal, 'name');

				var addedNames = _.difference(newNames, oldNames);
				var removedNames = _.difference(oldNames, newNames);

				_(addedNames).map(name => _.find(newVal, { name })).forEach(layerDef => this.addLayer(layerDef.name, layerDef.features));
				_(removedNames).forEach(name => {
					this.layersControl.removeLayer(this.dataLayers[name]);

					Vue.delete(this.dataLayers, name);
				});
			}, { immediate: true });

			this.$on('resize', () => this.map.invalidateSize());
		},

	};
</script>
