<style lang="less">
	.modal {
	}
</style>

<template>
	<div class="modal uk-modal">
		<div class="uk-modal-dialog" :class="dialogClass">
			<a v-if="closeButton" class="uk-modal-close uk-close"></a>

			<div class="uk-modal-header"><slot name="header"></slot></div>

			<slot name="body"></slot>

			<div class="uk-modal-footer"><slot name="footer"></slot></div>
		</div>
	</div>
</template>

<script>
	var lastID = 0;


	export default {

		props: {
			closeButton: { type: Boolean, default: true },
			center: { type: Boolean, default: true },
			bgClose: { type: Boolean, default: true },
			allowMultiple: { type: Boolean, default: false },
			dialogClass: { default() { return []; } },
		},

		data() {
			lastID += 1;
			return {
				modal: null,
				modalID: `modal-${lastID}`
			};
		},

		methods: {
			show() {
				this.modal.show({
					center: this.center,
					bgclose: this.bgClose,
					modal: !this.allowMultiple,
					target: `#${this.modalID}`,
				});
			},
			hide() {
				this.modal.hide();
			},
		},

		ready() {
			// Eat 'shown' and 'hidden' events so child components don't think they're being shown/hidden any time
			// an ancestor emits them.
			this.$on('shown', () => {});
			this.$on('hidden', () => {});

			this.modal = UIkit.modal(this.$el);
			console.log('this.modal:', this.modal);

			this.modal.on({
				'show.uk.modal': () => {
					this.$dispatch('shown');
				},
				'hide.uk.modal': () => {
					this.$dispatch('hidden');
				},
			});
		},
	};
</script>
