<style lang="less">
	.subtree {
		& > rect {
			fill: none;
			stroke-opacity: 0.5;
		}
		.alias {
			font-size: 8px;
			text-anchor: end;
		}
	}
</style>

<template>
	<g class="subtree" :transform="subtreeTransform" :data-plan-path="planPath">

		<rect v-if="plan.hasAlias" x="0" :y="-layout.height / 2" :width="layout.width" :height="layout.height"
				:rx="renderStyle.cornerRadius" :ry="renderStyle.cornerRadius" :stroke="aliasColor">
		</rect>

		<text v-if="plan.hasAlias" class="alias"
				:x="layout.width - renderStyle.textPadding.horizontal"
				:y="-layout.height / 2 - renderStyle.textPadding.vertical" :style="{fill: aliasColor}">
			<!--identifier-as-svg :identifier="plan.alias" /-->
			{{ plan.alias }}
		</text>

		<g class="padding" :transform="paddingTransform">

			<query-plan-node :plan="plan" :render-style="renderStyle" :node-name-key="nodeNameKey"
					:line-width-key="lineWidthKey">
			</query-plan-node>

			<g class="children" :transform="childrenTransform">

				<query-plan-subtree v-for="subplan in plan.children | orderBy lineWidthKey" :plan="subplan"
						:render-style="renderStyle" :node-name-key="nodeNameKey" :line-width-key="lineWidthKey"
						:max-link-value="maxLinkValue" :link-color="linkColor" :plan-path="planPath + '/' + $index">
				</query-plan-subtree>

			</g>

			<query-plan-link v-for="subplan in plan.children | orderBy lineWidthKey" :source="subplan" :target="plan"
					:render-style="renderStyle" :node-name-key="nodeNameKey" :line-width-key="lineWidthKey"
					:max-link-value="maxLinkValue" :link-color="linkColor">
			</query-plan-link>

		</g>

	</g>
</template>

<script>
	import QueryPlanNode from './QueryPlanNode.vue';
	import QueryPlanLink from './QueryPlanLink.vue';

	export default {

		name: 'query-plan-subtree',

		components: {
			QueryPlanNode,
			QueryPlanLink,
		},

		props: {
			plan: { type: Object },
			planPath: { type: String },
			renderStyle: { type: Object },
			nodeNameKey: { type: String },
			lineWidthKey: { type: String },
			maxLinkValue: { type: Number },
			linkColor: { type: Function },
		},

		data() {
			return {
				processedPlan: null,
			};
		},

		computed: {
			layout() {
				return this.plan.layout;
			},

			subtreeTransform() {
				var x = 0;
				if(this.renderStyle.reverseX) {
					x = this.layout.reverseXShift;
				}
				return `translate(${x}, ${this.layout.subtreeY})`;
			},
			paddingTransform() {
				// Ignore vertical padding, since we're offsetting from a center line instead of an edge.
				return `translate(${this.layout.boxPadding.horizontal}, 0)`;
			},
			childrenTransform() {
				var nodeSize = this.renderStyle.nodeSize;

				var x = nodeSize + this.renderStyle.padding.horizontal;
				if(this.renderStyle.reverseX) {
					x = 0;
				}
				return `translate(${x}, ${this.layout.childrenYShift})`;
			},

			aliasColor() {
				if(this.plan.isCTE) { return this.renderStyle.cteColor; }
				else { return this.renderStyle.subplanColor; }
			},
		},

	};
</script>
