<style lang="less">
	.query-plan {
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background: #111;
		color: #fff;

		text {
			font: 12px sans-serif;
			pointer-events: none;
			text-shadow: 0.5px 1px 0.5px #000;
			fill: #fff;
			dominant-baseline: text-after-edge;
			text-anchor: middle;
		}
	}
</style>

<template>
	<div class="query-plan">
		<svg xmlns="http://www.w3.org/2000/svg" v-el:svg class="uk-position-cover"
				@mousedown.prevent.stop="onMouseDown" @mousemove="onMouseMove" @mouseup.stop="onMouseUp"
				@click.stop="onClick" @wheel.stop="onWheel">
			<defs>
				<filter id="dropshadow">
					<feOffset result="offsetOut" in="SourceAlpha" />
					<feGaussianBlur result="blurOut" in="offsetOut" stdDeviation="2" />
					<feComponentTransfer result="fadeOut" in="blurOut">
						<feFuncR type="linear" slope="1" intercept="0" />
						<feFuncG type="linear" slope="1" intercept="0" />
						<feFuncB type="linear" slope="1" intercept="0" />
						<feFuncA type="linear" slope="0.7" intercept="0" />
					</feComponentTransfer>
					<feBlend in="SourceGraphic" in2="fadeOut" mode="normal" />
				</filter>
				<filter id="highlight">
					<feOffset result="offsetOut" in="SourceAlpha" />
					<feGaussianBlur result="blurOut" in="offsetOut" stdDeviation="3" />
					<feComponentTransfer result="fadeOut" in="blurOut">
						<feFuncR type="linear" slope="-0.7" intercept="0.7" />
						<feFuncG type="linear" slope="-0.7" intercept="0.7" />
						<feFuncB type="linear" slope="-0.7" intercept="0.7" />
						<feFuncA type="linear" slope="0.7" intercept="0" />
					</feComponentTransfer>
					<feBlend in="SourceGraphic" in2="fadeOut" mode="normal" />
				</filter>
			</defs>

			<g v-el:zoom-group :transform="viewTransform">

				<query-plan-subtree v-for="plan in processedPlans" :plan="plan" :render-style="renderStyle"
						:node-name-key="nodeNameKey" :line-width-key="lineWidthKey || numericKeys[0]"
						:max-link-value="maxLinkValue" :link-color="linkColor" :plan-path="$index.toString()">
				</query-plan-subtree>

			</g>
		</svg>
	</div>
</template>

<script>
	import _ from 'lodash';
	import d3 from 'd3';

	import QueryPlanSubtree from './QueryPlanSubtree.vue';

	const defaultRenderStyle = {
		reverseX: true,
		minCurvature: 0.3,
		maxCurvature: 0.7,
		cornerRadius: 8,
		nodeSize: 64,
		tableColor: d3.rgb(255, 255, 0),
		cteColor: d3.rgb(0, 255, 255),
		subplanColor: d3.rgb(127, 127, 127),
		margin: { horizontal: 20, vertical: 28 },
		padding: { horizontal: 96, vertical: 48 },
		textPadding: { horizontal: 5, vertical: 3 },
		subPlanPadding: { horizontal: 20, vertical: 20 },
	};

	const noPadding = { horizontal: 0, vertical: 0 };

	const mouseButtons = { left: 0, middle: 1, right: 2 };

	const cteSubplanRE = /^CTE /;

	export default {

		components: {
			QueryPlanSubtree,
		},

		props: {
			plan: { type: Array },
			nodeNameKey: { type: String, default: 'Node Type' },
			lineWidthKey: { type: String },
			selectedNode: { type: Object, twoWay: true },
			numericKeys: { type: Array, twoWay: true },
			renderStyle: { type: Object, default() { return defaultRenderStyle; } },
		},

		data() {
			return {
				processedPlans: [],
				maxValues: {},
				viewX: defaultRenderStyle.margin.horizontal,
				viewY: defaultRenderStyle.margin.vertical,
				scale: 1,
				panStart: null,
				mouseMoveTracking: {},
				mouseMoveThreshold: 3,
			};
		},

		computed: {
			maxLinkValue() {
				console.log('this.maxValues:', this.maxValues);
				console.log('this.lineWidthKey:', this.lineWidthKey);
				console.log('this.numericKeys:', this.numericKeys);
				return this.maxValues[this.lineWidthKey || this.numericKeys[0]];
			},
			linkColor() {
				console.log('this.maxLinkValue:', this.maxLinkValue);
				return d3.scale.linear()
					.domain([0, this.maxLinkValue * 0.5, this.maxLinkValue])
					.range([d3.rgb(0, 191, 0), d3.rgb(255, 191, 0), d3.rgb(255, 0, 0)]);
			},
			viewTransform() {
				return `scale(${this.scale})
				translate(${this.viewX}, ${this.viewY})`;
			},
			mouseMoveThresholdSquared() {
				return Math.pow(this.mouseMoveThreshold, 2);
			},
		},

		methods: {
			updatePlan() {
				this._maxValues = {};

				var nextSubplanY = 0, maxChildWidth = 0;
				this.processedPlans = _.map(this.plan, topLevelPlan => {
					topLevelPlan = this.processPlan(topLevelPlan.Plan);

					maxChildWidth = Math.max(maxChildWidth, topLevelPlan.layout.width);

					nextSubplanY += topLevelPlan.layout.height / 2;
					topLevelPlan.layout.subtreeY = nextSubplanY;
					nextSubplanY += topLevelPlan.layout.height / 2 + this.renderStyle.padding.vertical;

					return topLevelPlan;
				});

				this.numericKeys = _.keys(this._maxValues);
				this.maxValues = this._maxValues;

				this.scale = 1;
				this.viewX = this.renderStyle.margin.horizontal;
				this.viewY = this.renderStyle.margin.vertical;
			},
			processPlan(plan) {
				var nodeSize = this.renderStyle.nodeSize;

				var data = _.omit(plan, 'Plans');
				var layout = {
					width: nodeSize,
					height: nodeSize,
					subtreeY: 0,
					childrenYShift: 0,
					reverseXShift: 0,
					boxPadding: noPadding,
				};
				var children = [];

				var childDataTotals = {};
				var nextSubplanY = 0, maxChildWidth = 0;
				var childPlans = plan.Plans || [];
				if(childPlans.length > 0) {
					for(let i = 0; i < childPlans.length; i++) {
						let childPlan = this.processPlan(childPlans[i]);

						maxChildWidth = Math.max(maxChildWidth, childPlan.layout.width);

						nextSubplanY += childPlan.layout.height / 2;
						childPlan.layout.subtreeY = nextSubplanY;
						nextSubplanY += childPlan.layout.height / 2 + this.renderStyle.padding.vertical;

						_.forIn(childPlan.data, (val, key) => {
							if(_.isNumber(val)) {
								childPlan.siblingDataSumBefore[key] = childDataTotals[key] || 0;
								childDataTotals[key] = childPlan.siblingDataSumBefore[key] + val;
							}
						});

						children.push(childPlan);
					}

					for(let i = 0; i < children.length; i++) {
						let childPlan = children[i];
						childPlan.layout.reverseXShift = maxChildWidth - childPlan.layout.width;
					}

					layout.width += this.renderStyle.padding.horizontal + maxChildWidth;

					layout.height = Math.max(
						layout.height,
						nextSubplanY - this.renderStyle.padding.vertical
					);

					layout.childrenYShift = -layout.height / 2;
				}

				_.forIn(data, (val, key) => {
					if(_.isNumber(val)) {
						this._maxValues[key] = Math.max(
							// The previous maximum value, if any:
							this._maxValues[key] || 0,
							// The "output" value of this node:
							val,
							// The sum of all "input" values of this node:
							_(children).map(`data.${key}`).filter(_.isNumber).sum()
						);
					}
				});

				var alias = null, isCTE = false;
				var hasAlias = Boolean(data['Subplan Name']);
				if(hasAlias) {
					layout.boxPadding = this.renderStyle.subPlanPadding;
					layout.width += 2 * layout.boxPadding.horizontal;
					layout.height += 2 * layout.boxPadding.vertical;

					alias = data['Subplan Name'].replace(cteSubplanRE, 'CTE: ');
					isCTE = cteSubplanRE.test(data['Subplan Name']);
				}

				return { data, layout, children, childDataTotals, siblingDataSumBefore: {}, hasAlias, alias, isCTE };
			},
			onMouseDown(event) {
				if(event.button == mouseButtons.left) {
					this.mouseMoveTracking = {
						lastMouseX: event.screenX, lastMouseY: event.screenY,
						amountMovedSquared: 0,
					};
					this.panStart = {
						viewX: this.viewX, viewY: this.viewY,
						mouseX: event.screenX, mouseY: event.screenY,
					};
				}
			},
			onMouseMove(event) {
				if(this.panStart) {
					event.stopPropagation();
					event.preventDefault();

					this.mouseMoveTracking.amountMovedSquared +=
						Math.pow(event.screenX - this.mouseMoveTracking.lastMouseX, 2) +
						Math.pow(event.screenY - this.mouseMoveTracking.lastMouseY, 2);

					this.mouseMoveTracking.lastMouseX = event.screenX;
					this.mouseMoveTracking.lastMouseY = event.screenY;

					if(this.mouseMoveTracking.amountMovedSquared >= this.mouseMoveThresholdSquared) {
						this.viewX = this.panStart.viewX + (event.screenX - this.panStart.mouseX) / this.scale;
						this.viewY = this.panStart.viewY + (event.screenY - this.panStart.mouseY) / this.scale;
					}
				}
			},
			onMouseUp(event) {
				if(event.button == mouseButtons.left) {
					if(this.mouseMoveTracking.amountMovedSquared >= this.mouseMoveThresholdSquared) {
						event.preventDefault();
					}

					this.panStart = null;
					this.mouseMoveTracking = {};
				}
			},
			onClick(event) {
				if(event.button == mouseButtons.left) {
					console.log("User clicked off a node.");
					if(this.selectedNode) {
						this.selectedNode.$emit('unselected');
					}

					this.selectedNode = null;
				}
			},
			onWheel(event) {
				let newScale = this.scale + event.deltaY * -0.01;
				newScale = Math.min(Math.max(0.125, newScale), 4);

				this.viewX -= event.offsetX / this.scale - event.offsetX / newScale;
				this.viewY -= event.offsetY / this.scale - event.offsetY / newScale;

				this.scale = newScale;
			},
		},

		events: {
			nodeClicked(node) {
				console.log("Node clicked:", node);
				if(this.selectedNode) {
					this.selectedNode.$emit('unselected');
				}

				if(this.selectedNode == node) {
					this.selectedNode = null;
				} else {
					this.selectedNode = node;
					this.selectedNode.$emit('selected');
				}
			},
		},

		ready() {
			var margin = this.renderStyle.margin;
			this.viewX = margin.horizontal;
			this.viewY = margin.vertical;

			this.updatePlan();

			this.$watch('plan', () => this.updatePlan());
		},

	};
</script>
