<style lang="less">
	.node > .image {
		filter: url(#dropshadow);
		opacity: .85;
	}
	.node > .image:hover, .node.selected > .image {
		opacity: 1;
	}
	.node.selected > .image {
		filter: url(#highlight);
	}

	.node text.node-name {
		dominant-baseline: central;
	}
	.node text.input-name {
		font-size: 8px;
	}
	.node text.node-type-detail {
		font-size: 10px;
		font-weight: bold;
		text-shadow: 0.5px 1px 0.5px #000, 0 0 1px #000, 0 0 2px #000;
	}
</style>

<template>
	<g class="node" :class="{ selected: isSelected }" :style="nodeStyle" :transform="nodeTransform">

		<!-- HACK: See https://github.com/vuejs/vue/issues/3197 -->
		<g class="image">
			<svg :width="renderStyle.nodeSize" :height="renderStyle.nodeSize">
				<image :width="renderStyle.nodeSize" :height="renderStyle.nodeSize" :xlink:href="img"
						@click.stop="$dispatch('nodeClicked', this)">

					<title>{{ plan.data[nodeNameKey] }}
{{ lineWidthKey }}: {{ plan.data[lineWidthKey] }}</title>

				</image>
			</svg>
		</g>

		<text v-if="!hasIcon" class="node-name" :x="renderStyle.nodeSize / 2" :y="renderStyle.nodeSize / 2"
				:textLength.camel="renderStyle.nodeSize - renderStyle.cornerRadius">
			{{ plan.data[nodeNameKey] }}
		</text>

		<text v-if="hasSource" class="input-name" :x="renderStyle.nodeSize / 2" :y="0">
			<tspan v-if="plan.data['Relation Name']" :fill="renderStyle.tableColor">{{ plan.data['Relation Name'] }}</tspan>
			<tspan v-if="plan.data['CTE Name']" :fill="renderStyle.cteColor">{{ plan.data['CTE Name'] }}</tspan>
		</text>

		<text v-if="plan.data['Node Type'] == 'Aggregate' && plan.data['Strategy']" class="node-type-detail"
				:x="renderStyle.nodeSize / 2" :y="renderStyle.nodeSize - renderStyle.cornerRadius">
			{{ plan.data['Strategy'] }}
		</text>

	</g>
</template>

<script>
	import queryPlanIcons from 'basic-query-plan-icons';

	export default {

		props: {
			plan: { type: Object },
			renderStyle: { type: Object },
			nodeNameKey: { type: String },
			lineWidthKey: { type: String },
		},

		data() {
			return {
				isSelected: false,
			};
		},

		computed: {
			isAggregate() {
				return this.plan.data['Node Type'] == 'Aggregate';
			},
			hasSource() {
				return this.plan.data['Relation Name'] || this.plan.data['CTE Name'];
			},

			nodeTransform() {
				var nodeSize = this.renderStyle.nodeSize;

				var x = 0;
				if(this.renderStyle.reverseX) {
					var layout = this.plan.layout;
					x = layout.width - 2 * layout.boxPadding.horizontal - nodeSize;
				}
				return `translate(${x}, ${-nodeSize / 2})`;
			},

			hasIcon() {
				return Boolean(queryPlanIcons[this.plan.data['Node Type']]);
			},
			img() {
				return queryPlanIcons[this.plan.data['Node Type']] || queryPlanIcons.background;
			},
		},

		events: {
			selected() {
				this.isSelected = true;
			},
			unselected() {
				this.isSelected = false;
			},
		},

	};
</script>
