<style lang="less">
	.link {
		fill: none;
		stroke: #fff;
		stroke-opacity: 0.3;
	}
	.link.active {
		stroke-opacity: 0.4;
	}
	.link:hover {
		stroke-opacity: 0.5;
	}
</style>

<template>
	<path class="link" :d="path" :style="lineStyle">
		<title>{{ source.data[nodeNameKey] }} &rarr; {{ target.data[nodeNameKey] }}
{{ lineWidthKey }}: {{ lineValue }}</title>
	</path>
</template>

<script>
	import d3 from 'd3';

	export default {

		props: {
			source: { type: Object },
			target: { type: Object },
			renderStyle: { type: Object },
			nodeNameKey: { type: String },
			lineWidthKey: { type: String },
			maxLinkValue: { type: Number },
			linkColor: { type: Function },
		},

		computed: {
			path() {
				var nodeSize = this.renderStyle.nodeSize;

				var normalizedTargetYPos = (
					this.source.siblingDataSumBefore[this.lineWidthKey] +
					this.lineValue / 2
				) /
					this.target.childDataTotals[this.lineWidthKey];
				if(isNaN(normalizedTargetYPos)) {
					normalizedTargetYPos = 0.5;
				}

				var ci = d3.interpolateNumber(this.renderStyle.minCurvature, this.renderStyle.maxCurvature);
				var curvature = ci(1 - Math.abs(1 - normalizedTargetYPos * 2));

				var x0 = this.renderStyle.padding.horizontal;
				var x1 = 0;
				var xi = d3.interpolateNumber(x0, x1);
				var x2 = xi(curvature);
				var x3 = xi(1 - curvature);

				if(this.source.hasAlias) {
					x0 += this.source.layout.boxPadding.horizontal;
				}

				var y0 = this.source.layout.subtreeY + this.target.layout.childrenYShift;

				var y1 = normalizedTargetYPos *
					this.nodeSideSize -
					this.nodeSideSize / 2;

				if(this.renderStyle.reverseX) {
					var layout = this.target.layout;
					var targetNodeLeft = layout.width - 2 * layout.boxPadding.horizontal - nodeSize;
					x0 = targetNodeLeft - x0;
					x1 = targetNodeLeft - x1;
					x2 = targetNodeLeft - x2;
					x3 = targetNodeLeft - x3;
				} else {
					x0 += nodeSize;
					x1 += nodeSize;
					x2 += nodeSize;
					x3 += nodeSize;
				}

				return `M${x0},${y0}C${x2},${y0} ${x3},${y1} ${x1},${y1}`;
			},
			nodeSideSize() {
				return this.renderStyle.nodeSize - (2 * this.renderStyle.cornerRadius);
			},
			lineValue() {
				return this.source.data[this.lineWidthKey];
			},
			lineStyle() {
				if(isNaN(this.lineValue)) {
					return {
						stroke: d3.rgb(255, 255, 255),
						'stroke-width': 2,
						'stroke-dasharray': '2',
					};
				}

				if(this.lineValue == 0) {
					return {
						stroke: d3.rgb(127, 255, 127),
						'stroke-width': 1,
					};
				}

				return {
					stroke: this.linkColor(this.lineValue),
					'stroke-width': Math.max(1, this.lineValue / this.maxLinkValue * this.nodeSideSize),
				};
			},
		},

	};
</script>
