<style lang="less">
	.shortcut-dialog {
	}
</style>

<template>
	<modal v-ref:modal class="shortcut-dialog">
		<div slot="header">{{ title }}</div>

		<form slot="body" class="uk-form" @submit.prevent>
			<div>
				<div class="uk-form-row">
					<input type="text" class="uk-width-1-1" placeholder="Press keyboard shortcut." @keydown.prevent="shortcuts.catchInput($event, 'enteredShortcut')" :value="displayShortcutKeyCombo(enteredShortcut)" v-focus-on-show />
				</div>

				<div v-if="actions" class="uk-form-row">
					<select class="uk-width-1-1" v-model="enteredShortcut.action">
						<option v-for="(action, actionDescription) in actions" :value="action">{{ actionDescription }}</option>
					</select>
				</div>
			</div>
		</form>

		<div slot="footer">
			<button class="uk-button uk-button-success" type="button" @click.prevent="ok()">
				<i class="uk-icon-check"></i> OK
			</button>
			<button class="uk-button uk-button-danger" type="button" @click.prevent="cancel()">
				<i class="uk-icon-close"></i> Cancel
			</button>
		</div>
	</modal>
</template>

<script>
	import Promise from 'bluebird';

	import Modal from './Modal.vue';

	import { default as Shortcuts, getActions, displayShortcutKeyCombo } from '../services/Shortcuts';

	/**
	 * An `Error` subclass that is thrown when the user selects "Cancel", or closes the dialog without clicking "OK".
	 *
	 * @constructor
	 */
	/*
	class UserCanceled extends Error {
		constructor() {
			super();
			this.message = 'User canceled dialog.';
			this.name = 'UserCanceled';
			Error.captureStackTrace(this, UserCanceled);
		}
	}
	/*/
	// Until ES6-style classes actually _work_ for bluebird's `.catch()`...
	function UserCanceled() {
		this.message = 'User canceled dialog.';
		this.name = 'UserCanceled';
		Error.captureStackTrace(this, UserCanceled);
	}
	UserCanceled.prototype = Object.create(Error.prototype);
	UserCanceled.prototype.constructor = UserCanceled;
	//*/


	export default {

		UserCanceled,

		components: {
			Modal,
		},

		data() {
			return {
				title: '',
				events: [],
				shortcuts: new Shortcuts(this, 'ShortcutDialog'),
				enteredShortcut: {},
				actions: null,
			};
		},

		methods: {
			displayShortcutKeyCombo,

			getShortcut(title = "Keyboard Shortcut", currentShortcut = {}, context = null) {
				return new Promise((resolve, reject) => {
					this.title = title;
					this.enteredShortcut = currentShortcut;
					this.actions = context ? getActions(context) : null;

					this.resolve = resolve;
					this.reject = reject;

					this.$refs.modal.show();
				})
					.finally(() => this.$refs.modal.hide());
			},
			ok() {
				this.resolve(this.enteredShortcut);
			},
			cancel() {
				this.reject(new UserCanceled());
			},
		},

	};
</script>
