<style lang="less">
	.splitter {
		box-sizing: border-box;
		position: relative;
		overflow: hidden;

		&, .first, .second, .handle {
			box-sizing: border-box;
			position: relative;
			overflow: hidden;
		}

		&.horizontal > .handle {
			min-width: 3px;
			cursor: col-resize;
		}

		&.vertical > .handle {
			min-height: 3px;
			cursor: row-resize;
		}
	}
</style>

<template>
	<div class="splitter uk-flex uk-flex-nowrap" :class="splitterClasses" @mousemove="doDrag">
		<div class="first no-flex-shrink" :style="firstChildStyle"><slot name="first"></slot></div>
		<div class="handle no-flex-shrink" :class="{ dragging: dragging }" @mousedown.stop.prevent="startDrag" v-el:handle></div>
		<div class="second uk-flex-item-1"><slot name="second"></slot></div>
	</div>
</template>

<script>
	import _ from 'lodash';

	export default {
		props: {
			handlePositionPercent: { type: Number, default: 50 },
			orientation: { type: String, default: 'vertical' },
			minPaneSize: { type: Number, default: 15 },
		},
		data() {
			return {
				actualHeight: 100,
				actualWidth: 100,
				dragging: false,
				actualHandleSize: 5,
			};
		},
		computed: {
			splitterClasses() {
				switch(this.orientation) {
					case 'horizontal': return ['horizontal'];
					case 'vertical': return ['vertical', 'uk-flex-column'];
				}
			},
			firstChildStyle() {
				switch(this.orientation) {
					case 'horizontal': return { width: this.handlePositionPixels + 'px' };
					case 'vertical': return { height: this.handlePositionPixels + 'px' };
				}
			},
			handlePositionPixels: {
				/*
				+---------------+ ----------------------------------------
				|               |   >-- this.minPaneSize                  \
				+---------------+ --                                       \
				|               |  \                                        \
				|  area where   |   \                                        \
				|  it's valid   |    \                (handlePositionPercent  \
				|  for the      |     >-- handleArea  measures the handle's    >-- totalSize
				|  handle to be |    /                position relative to    /
				|  positioned   |   /                 this area)             /
				|               |  /                                        /
				+===============+ >-- this.handleSize                      /
				|               | >-- this.minPaneSize                    /
				+---------------+ ----------------------------------------
				*/
				get() {
					var totalSize = this.orientation == 'horizontal' ? this.actualWidth : this.actualHeight;
					var handleArea = totalSize - this.actualHandleSize - (2 * this.minPaneSize);

					return Math.round((this.handlePositionPercent / 100) * handleArea) + this.minPaneSize;
				},
				set(pixels) {
					var totalSize = this.orientation == 'horizontal' ? this.actualWidth : this.actualHeight;
					var handleArea = totalSize - this.actualHandleSize - (2 * this.minPaneSize);

					this.handlePositionPercent = 100 * (
						Math.min(handleArea, Math.max(0, pixels - this.minPaneSize))
					) / handleArea;

					this.notifyResize();
				}
			},
		},
		methods: {
			startDrag($event) {
				this.dragging = true;
				this.draggedFrom = [$event.pageX, $event.pageY];
				this.dragStartHandlePos = this.handlePositionPixels;
			},
			doDrag($event) {
				if(this.dragging) {
					var curPos = this.orientation == 'horizontal' ? $event.pageX : $event.pageY;
					var startPos = this.orientation == 'horizontal' ? this.draggedFrom[0] : this.draggedFrom[1];
					this.handlePositionPixels = this.dragStartHandlePos + (curPos - startPos);
					$event.stopPropagation();
					$event.preventDefault();
				}
			},
		},
		ready() {
			this.actualHeight = this.$el.offsetHeight;
			this.actualWidth = this.$el.offsetWidth;
			this.actualHandleSize = this.orientation == 'horizontal' ?
				this.$els.handle.offsetWidth : this.$els.handle.offsetHeight;

			this.notifyResize = _.throttle(() => this.$broadcast('resize'), 50);

			document.addEventListener('mouseup', () => {
				if(this.dragging) {
					this.dragging = false;
					this.draggedFrom = null;
					this.dragStartHandlePos = null;
				}
			}, true);

			var handlingResize = false;
			const handleResize = () => {
				if(handlingResize) {
					return; // Already handling resize.
				}

				handlingResize = true;
				this.$nextTick(() => {
					handlingResize = false;
					if(this.$el) {
						this.actualHeight = this.$el.offsetHeight;
						this.actualWidth = this.$el.offsetWidth;
						this.notifyResize();
					}
				});
			};

			window.addEventListener('resize', handleResize);
			this.$on('resize', handleResize);

			this.$nextTick(() => {
                this.actualHeight = this.$el.offsetHeight;
                this.actualWidth = this.$el.offsetWidth;
                this.notifyResize();
			});
		},
	};
</script>
