@import (css, inline) "perfect-scrollbar/dist/css/perfect-scrollbar.css";
@import (css, inline) "leaflet/dist/leaflet.css";

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	box-sizing: border-box;
	line-height: 1.6;
	cursor: default;
	-webkit-user-select: none;
}

[v-cloak] {
	display: none;
}

.no-flex-shrink {
	flex-shrink: 0;
}

.default-cursor {
	cursor: default;
}

pre.no-box {
	border: none;
	border-radius: 0;
	margin: 0;
}
code.no-box {
	border: none;
	border-radius: 0;
	background: transparent;
}

td.code, input.code, h4.code {
	font-size: @base-code-font-size;
	font-family: @base-code-font-family;
	color: @base-code-color;
	white-space: nowrap;
	text-shadow: 0 1px 0 @offcanvas-panel-text-shadow;
}
input.code {
	background: @base-code-background !important;
}
input.code::-webkit-input-placeholder {
	font-style: italic;
}

code.null, .code.null, .code .null {
	background-color: #ccc;
	color: #888;
}
code.null, .code .null {
	border-radius: 3px;
}

.uk-modal-page {
	overflow: visible;
}

.uk-nav-offcanvas > li {
	position: relative;
	z-index: 0;
	overflow-y: hidden;
	white-space: nowrap;

	& > .nav-item-main {
		position: absolute;
		left: 0;
		right: 0;
		padding-left: 23px;
		white-space: nowrap;
	}

	& > .uk-sortable-handle {
		position: relative;
		z-index: 1;
	}

	& > .nav-item-action-fade {
		position: relative;
		z-index: 1;
		display: block;
		float: right;
		content: " ";
		width: 10px;
		height: 1.6em;
		padding: 9px 0 10px;
		margin-top: 2px;
		background: linear-gradient(to right, transparent, @offcanvas-bar-background);
		pointer-events: none;
	}

	& > a.nav-item-action, &.uk-parent ul.uk-nav-sub > li > a.nav-item-action {
		position: relative;
		z-index: 1;
		float: right;
		border-left: 1px solid rgba(0, 0, 0, 0.3);
		box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.05);
		background: @offcanvas-bar-background;
	}
}

html:not(.uk-touch) .uk-nav-offcanvas > li.uk-parent ul.uk-nav-sub {
	padding: 0;

	& > li > a {
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.05);
		padding: 3px 0 3px 15px;

		&:hover, &:focus {
			background: #3b3b3b;
			color: #fff;
			outline: none;
		}

		&.nav-item-action {
			padding: 3px 5px;
		}
	}
}

.uk-navbar-small .uk-navbar-content {
	height: initial;
}

.uk-navbar-nav > li.full-height {
	height: @navbar-nav-height;
}
.uk-badge.uk-vertical-align-middle {
	font-size: @badge-font-size;
}

.uk-badge + .uk-badge {
	margin-left: 2px;
}

.uk-dropdown.uk-dropdown-navbar.uk-dropdown-bottom {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	margin-top: 1px;
}

.primary-on-hover:hover, a:hover > .primary-on-hover { color: @text-primary-color !important; }
.success-on-hover:hover, a:hover > .success-on-hover { color: @text-success-color !important; }
.warning-on-hover:hover, a:hover > .warning-on-hover { color: @text-warning-color !important; }
.danger-on-hover:hover, a:hover > .danger-on-hover { color: @text-danger-color !important; }

.splitter {
	& > .handle {
		.hook-button;
		border-radius: 0;

		&:hover {
			.hook-button-hover();
		}

		&.dragging {
			.hook-button-active();
		}

		&::before {
			box-sizing: border-box;
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			margin: -0.5em;
			line-height: 12px;
			text-align: center;
			color: rgba(255, 255, 255, 0.5);
		}
	}

	&.horizontal > .handle {
		width: 8px;
		border-top: none;
		border-bottom: none;

		&::before {
			content: '\22EE';
		}
	}
	&.vertical > .handle {
		height: 8px;
		border-left: none;
		border-right: none;

		&::before {
			content: '\22EF';
		}
	}

	&.uk-position-cover {
		position: absolute;
	}
}

.CodeMirror {
	font-size: @base-code-font-size !important;
	font-family: @base-code-font-family !important;
	line-height: 1em !important;

	.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
		background-color: transparent;
	}
}

svg.uk-position-cover {
	width: 100%;
	height: 100%;
}

.vis-network {
	.uk-position-cover();
}

.uk-nav-offcanvas > li {
	&.db-object, &.db-setting {
      & > a {
          white-space: nowrap;

          font-size: @base-code-font-size;
          font-family: @base-code-font-family;
          font-weight: bold;

          padding: 5px 10px;
      }
	}
}

.leaflet-container {
	background-color: transparent;
}
.leaflet-control-layers-toggle {
	background-image: url(../images/layers.png);
}
.leaflet-container .leaflet-control-attribution {
	border-top-left-radius: 5px;
}

@tooltip-danger-background: rgba(68,17,17,0.95);
@tooltip-danger-color: #f22;

.uk-tooltip-danger {
    background: @tooltip-danger-background;
    color: @tooltip-danger-color;

	&.uk-tooltip-top:after,
	&.uk-tooltip-top-left:after,
	&.uk-tooltip-top-right:after {
		border-top-color: @tooltip-danger-background;
	}

	&.uk-tooltip-bottom:after,
	&.uk-tooltip-bottom-left:after,
	&.uk-tooltip-bottom-right:after {
		border-bottom-color: @tooltip-danger-background;
	}

	&.uk-tooltip-left:after {
		border-left-color: @tooltip-danger-background;
	}

	&.uk-tooltip-right:after {
		border-right-color: @tooltip-danger-background;
	}
}

.uk-notify {
	width: 480px;
}

.error-indicator i[class*='uk-icon-'] {
	color: red;
}
