<style lang="less">
	.browse {
	}
</style>

<template>
	<section class="browse uk-flex uk-flex-column uk-overlay">
		<div v-if="!connectionService.currentConnection" class="uk-alert no-flex-shrink">No connection selected.</div>
		<div v-if="objectsLoading.active" class="uk-overlay-panel uk-overlay-fade uk-overlay-slide-top uk-overlay-top uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center">
			<h3 class="uk-text-muted">Loading... <i class="uk-icon-circle-o-notch uk-icon-spin uk-icon-large uk-display-block"></i></h3>
		</div>

		<splitter orientation="horizontal" :handle-position-percent.once="30" class="uk-flex-item-1">
			<filtered-list slot="first" :items="objects" html-display-key="display" search-by-key="id"
				:order-by-key-choices="{name: 'Short name', id: 'Fully-qualified name', type: 'Type'}" order-by-key="id"
				:filter-choices="filterChoices"
				:refresh="getObjects"
				item-class="db-object" :selected.sync="selectedObject" class="uk-position-cover">
			</filtered-list>

			<div v-if="objects" slot="second" class="uk-position-cover uk-flex uk-flex-column uk-overlay">
				<div v-if="detailsLoading.active" class="uk-overlay-panel uk-overlay-fade uk-overlay-slide-top uk-overlay-top uk-overlay-background uk-flex uk-flex-center uk-flex-middle uk-text-center">
					<h3 class="uk-text-muted">Loading... <i class="uk-icon-circle-o-notch uk-icon-spin uk-icon-large uk-display-block"></i></h3>
				</div>
				<detail-table v-if="selectedObject && !selectedObject.definition" class="uk-flex-item-1" :data="_.omit(selectedObject, 'definition')"></detail-table>
				<splitter v-if="selectedObject && selectedObject.definition" orientation="horizontal" class="uk-flex-item-1">
					<detail-table slot="first" class="uk-position-cover" :data="_.omit(selectedObject, 'definition')"></detail-table>
					<code-highlight slot="second" :code="selectedObject.definition" :mode="codeHLMode" class="uk-position-cover no-box" v-scrollbar></code-highlight>
				</splitter>
			</div>
		</splitter>
	</section>
</template>

<script>
	import _ from 'lodash';

	import CodeHighlight from '../components/CodeHighlight.vue';
	import DetailTable from '../components/DetailTable.vue';
	import FilteredList from '../components/FilteredList.vue';
	import Splitter from '../components/Splitter.vue';

	import connectionService from '../services/connection';
	import documentService from '../services/document';
	import Indicator from '../services/Indicator';
	import { addMessage } from '../services/messages';

	export default {
		components: {
			CodeHighlight,
			DetailTable,
			FilteredList,
			Splitter,
		},

		data() {
			return {
				connectionMessages: [],
				objects: null,
				objectsLoading: new Indicator(),
				detailsLoading: new Indicator(),
				connectionService,
				selectedObject: null,
			};
		},

		computed: {
			_() { return _; }, // No idea why adding `_` to `data` doesn't work, but this works around it.
			codeHLMode() {
				return documentService.getModeForDriver((connectionService.currentConnectionConfig || {}).client);
			},
			dbObj() {
				return (connectionService.currentConnection || {}).dbObjects || {};
			},
			filterChoices() {
				if(this.dbObj.filterChoices) {
					return this.dbObj.filterChoices;
				} else {
					return {};
				}
			},
		},

		methods: {
			getObjects() {
				console.log("Getting objects...");
				this.objects = null;
				this.connectionMessages.forEach(msg => msg.dismiss());
				this.connectionMessages = [];
				if(!connectionService.currentConnection) { return; }

				return this.objectsLoading.indicate(() => {
					if(this.dbObj.getObjects) {
						return this.dbObj.getObjects(connectionService.currentConnection)
							.then(objects => this.objects = objects);
					} else {
						this.connectionMessages.push(addMessage({
							status: 'danger',
							message: `Can't browse ${connectionService.currentConnectionConfig.client} database; not implemented!`
						}));
					}
                })
					.then(result => {
						console.log("Finished getting objects.");
						return result;
					})
                    .catch((error) => {
                        console.error("Error getting objects:", error);
                        this.connectionMessages.push(addMessage({
							status: 'danger',
							message: error.message,
							details: error
						}));
                    });
			}
		},

		ready() {
			this.notifyResize = _.throttle(() => this.$nextTick(() => this.$broadcast('resize')), 50);

			this.$watch('connectionService.currentConnection', () => {
				if(connectionService.currentConnection) {
                    this.getObjects();
                }
			}, { immediate: true });
			this.$watch('selectedObject', () => {
                if(this.dbObj.getDetails) {
					return this.detailsLoading.indicate(() =>
                        this.dbObj.getDetails(connectionService.currentConnection, this.selectedObject));
				}
			});
		},
	};
</script>
