<style lang="less">
	.query {
		.CodeMirror {
			height: auto;
		}
		.column-1em {
			 width: 1em;
		}

		.glued {
			& > :not(:first-child) {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				margin-left: -1px;
			}
			& > :not(:last-child) {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}
</style>

<template>
	<section class="query uk-flex uk-flex-column" @keydown="shortcuts.handle($event)">
		<nav class="uk-navbar uk-navbar-attached uk-navbar-small no-flex-shrink">
			<div class="uk-navbar-content">
				<div class="uk-button-group">
					<button class="uk-button uk-button-mini uk-button-primary" @click="runQuery()"
							:disabled="!connectionService.currentConnection || isRunning.active">
						<i class="uk-icon-play"></i> Execute <em>(F5)</em>
					</button>

					<div data-uk-dropdown="{mode: 'click'}">
						<button class="uk-button uk-button-mini uk-button-primary"
								:disabled="!connectionService.currentConnection || isRunning.active">
							<i class="uk-icon-caret-down"></i>
						</button>

						<div class="uk-dropdown uk-dropdown-small">
							<ul class="uk-nav uk-nav-dropdown">
								<li><a href="" @click.prevent="runAndRollbackQuery()">
									<i class="uk-icon-flask"></i> Test <em>(Shift+F5)</em>
								</a></li>
								<li><a href="" @click.prevent="runQueryWithoutTransaction">
									<i class="uk-icon-exclamation-circle"></i> Transactionless
								</a></li>

								<template v-if="queryOptions">
									<li class="uk-nav-divider"></li>
									<li class="uk-nav-header">Options</li>
									<li v-for="(optionName, optionEnabled) in queryOptions">
										<a href="" class="default-cursor" @click.prevent="queryOptions[optionName] = !queryOptions[optionName]">
											<i :class="[optionEnabled ? 'uk-icon-check-square-o' : 'uk-icon-square-o']"></i>
											{{ optionName }}
										</a>
									</li>
								</template>
							</ul>
						</div>
					</div>
				</div>

				<div class="uk-button-group">
					<button class="uk-button uk-button-mini uk-button-primary" @click="explainQuery()"
							:disabled="!connectionService.currentConnection || isRunning.active">
						<i class="uk-icon-stethoscope"></i> Explain <em>(F7)</em>
					</button>

					<div data-uk-dropdown="{mode: 'click'}">
						<button class="uk-button uk-button-mini uk-button-primary"
								:disabled="!connectionService.currentConnection || isRunning.active">
							<i class="uk-icon-caret-down"></i>
						</button>

						<div class="uk-dropdown uk-dropdown-small">
							<ul class="uk-nav uk-nav-dropdown">
								<li><a href="" @click.prevent="runAndAnalyzeQuery()">
									<i class="uk-icon-stethoscope"></i> Analyze <em>(Shift+F7)</em>
								</a></li>

								<template v-if="queryOptions">
									<li class="uk-nav-divider"></li>
									<li class="uk-nav-header">Options</li>
									<li v-for="(optionName, optionEnabled) in explainOptions">
										<a href="" class="default-cursor" @click.prevent="explainOptions[optionName] = !explainOptions[optionName]">
											<i :class="[optionEnabled ? 'uk-icon-check-square-o' : 'uk-icon-square-o']"></i>
											{{ optionName }}
										</a>
									</li>
								</template>
							</ul>
						</div>
					</div>
				</div>

				<em v-if="isRunning.active" class="uk-margin-small-left uk-text-small">Running...</em>
			</div>

			<div class="uk-navbar-content uk-navbar-flip">
				<button class="uk-button uk-button-mini" @click="showOpenDialog()">
					<i class="uk-icon-open"></i> Open <em>(Ctrl+O)</em>
				</button>

				<div class="uk-button-group">
					<button class="uk-button uk-button-mini" @click="saveFile()">
						<i class="uk-icon-save"></i> Save <em>(Ctrl+S)</em>
					</button>

					<div data-uk-dropdown="{mode: 'click'}">
						<button class="uk-button uk-button-mini">
							<i class="uk-icon-caret-down"></i>
						</button>

						<div class="uk-dropdown uk-dropdown-small">
							<ul class="uk-nav uk-nav-dropdown">
								<li><a href="" @click.prevent="showSaveAsDialog()">
									<i class="uk-icon-flask"></i> Save As... <em>(Ctrl+Shift+S)</em>
								</a></li>
								<!--li><a href="" @click.prevent="showSaveAsDialog()">
									<i class="uk-icon-flask"></i> Save As... <em>(Ctrl+Shift+S)</em>
								</a></li-->
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div v-if="currentDocument && currentDocument.filePath" class="uk-navbar-content uk-navbar-center">
				{{ currentDocument.filePath }}
				<em v-if="dirty">*</em>
			</div>
			<div v-if="currentDocument && !currentDocument.filePath" class="uk-navbar-content uk-navbar-center">New Query</div>
		</nav>

		<splitter orientation="vertical" class="uk-flex-item-1" v-ref:main-splitter>

			<div slot="first" class="uk-position-cover">
				<splitter orientation="horizontal" :handle-position-percent.once="70" class="uk-width-1-1 uk-height-1-1">

					<editor slot="first" :document="currentDocument" class="uk-position-cover"></editor>

					<div slot="second" class="uk-position-cover">
						<form class="uk-form">
							<table class="uk-table uk-table-condensed uk-text-nowrap">
								<caption class="uk-margin-small-top uk-margin-small-left uk-margin-small-right uk-position-relative">
									<button class="uk-button uk-button-mini uk-button-success uk-float-right"
											type="button" v-tooltip="'Add parameter'"
											@click="queryParams.push({value: '', isNull: false})">
										<i class="uk-icon-plus"></i>
									</button>

									Parameters
								</caption>
								<thead>
									<tr>
										<th class="uk-text-right column-1em">#</th>
										<th>Value</th>
										<th class="column-1em"></th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="param in queryParams" track-by="$index" class="uk-table-middle">
										<td class="uk-text-right uk-text-bold code">${{ $index + 1 }}</td>
										<td class="uk-padding-vertical-remove">
											<div class="glued uk-flex uk-width-1-1">
												<input v-if="!param.isNull" type="text" v-model="param.value" class="uk-flex-item-1 uk-form-small uk-form-blank code" placeholder="parameter value" title="Parameter value" />
												<input v-if="param.isNull" type="text" class="uk-flex-item-1 uk-form-small uk-form-blank code" placeholder="NULL" title="Parameter value" disabled="disabled" />

												<button class="uk-button uk-button-small no-flex-shrink" :class="{'uk-active': param.isNull}" @click.prevent="param.isNull = !param.isNull">
													<i class="uk-icon-ban"></i>
												</button>
											</div>
										</td>
										<td>
											<a href="" class="uk-button uk-button-mini uk-button-danger"
													v-tooltip="'Remove parameter'"
													@click.prevent="queryParams.splice($index, 1)">
												<i class="uk-icon-remove"></i>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>

				</splitter>
			</div>

			<div slot="second" class="uk-position-cover uk-flex uk-flex-column">
				<nav class="uk-navbar uk-navbar-attached no-flex-shrink">
					<ul class="uk-navbar-nav">
						<li :class="{'uk-active': bottomView == 'Results'}"><a href="" @click.prevent="bottomView='Results'">
								<i class="uk-icon-table"></i> Results</a></li>
						<li :class="{'uk-active': bottomView == 'QueryPlan'}"><a href="" @click.prevent="bottomView='QueryPlan'">
								<i class="uk-icon-stethoscope"></i> Query Plan</a></li>
						<li :class="{'uk-active': bottomView == 'Geometry'}"><a href="" @click.prevent="bottomView='Geometry'">
								<i class="uk-icon-map-o"></i> Geometry</a></li>
						<li :class="{'uk-active': bottomView == 'History'}"><a href="" @click.prevent="bottomView='History'">
								<i class="uk-icon-history"></i> History</a></li>
					</ul>

					<div class="uk-navbar-flip" v-if="bottomView == 'Results' || bottomView == 'QueryPlan'">
						<ul class="uk-navbar-nav">
							<li v-if="currentStatement" class="uk-vertical-align uk-margin-small-right full-height">
								<div class="uk-badge uk-vertical-align-middle" v-if="currentStatement.isRunning">
									Running... <i class="uk-icon-circle-o-notch uk-icon-spin"></i>
								</div>
								<div class="uk-badge uk-badge-danger uk-vertical-align-middle"
										v-if="currentStatement.failed">Failed</div>
								<div class="uk-badge uk-badge-success uk-vertical-align-middle"
										v-if="!currentStatement.isRunning && !currentStatement.failed">Done</div>

								<div class="uk-badge uk-vertical-align-middle"
									v-if="_.isNumber(currentStatement.affectedRows)">
									{{ currentStatement.affectedRows }} rows affected
								</div>

								<div class="uk-badge uk-vertical-align-middle"
										:class="[currentStatement.rolledBack ? 'uk-badge-warning' : 'uk-badge-success']"
										v-if="!currentStatement.isRunning && !currentStatement.failed"
										v-tooltip="currentStatement.rolledBack ? 'Statement was rolled back.' : 'Statement was committed.'">
									<i :class="[currentStatement.rolledBack ? 'uk-icon-undo' : 'uk-icon-check']"></i>
								</div>

								<div class="uk-badge uk-badge-notification uk-vertical-align-middle"
										v-if="currentStatement.messages && currentStatement.messages.length > 0">
									{{ currentStatement.messages.length }}
								</div>
							</li>

							<li v-if="bottomView == 'QueryPlan'" class="uk-parent"
									:class="{'uk-disabled': lineWidthKeyChoices.length === 0}"
									data-uk-dropdown="{mode:'click', pos:'bottom-right'}">
								<a href="" @click.prevent="lineWidthKeyChoices.length === 0 ? $event.stopPropagation() : null">
									<template v-if="lineWidthKey">
										<i class="uk-icon-paint-brush"></i> {{ lineWidthKey }}
									</template>
									<span v-if="!lineWidthKey" class="uk-text-muted">No numeric properties.</span>
									<i class="uk-icon-caret-down"></i>
								</a>
								<div class="uk-dropdown uk-dropdown-small uk-dropdown-navbar">
									<ul class="uk-nav uk-nav-navbar">
										<li class="uk-nav-header">Line width</li>
										<li v-for="lineWidthKeyChoice in lineWidthKeyChoices" :class="{'uk-active': lineWidthKey == lineWidthKeyChoice}">
											<a href="" @click.prevent="lineWidthKey = lineWidthKeyChoice">{{ lineWidthKeyChoice }}</a>
										</li>
									</ul>
								</div>
							</li>

							<li v-if="currentStatement" :class="{'uk-active': currentStatement.pinned}">
								<a href="" @click.prevent="togglePinned(currentStatement)">
									<i class="uk-icon-thumb-tack"></i>
								</a>
							</li>

							<li v-if="currentStatement">
								<a href="" @click.prevent="saveResultsFile()" v-tooltip="'Save results to CSV'">
									<i class="uk-icon-save"></i>
								</a>
							</li>

							<li class="uk-parent" :class="{'uk-open': statementDropdownOpen}"><!-- data-uk-dropdown="{mode:'click'}"-->
								<a href="" @click.prevent="statementDropdownOpen = !statementDropdownOpen">
									<template v-if="currentStatement">
										<i :class="uk-icon-table"></i>
										Batch #{{ currentStatement.batchNum }}, statement #{{ currentStatement.statementNum }}
									</template>
									<span v-if="!currentStatement" class="uk-text-muted">Choose a statement...</span>
									<i class="uk-icon-caret-down"></i>
								</a>
								<div class="uk-dropdown uk-dropdown-small uk-dropdown-navbar uk-dropdown-bottom uk-nbfc"
											:style="{maxHeight: (bottomPaneHeight - 10) + 'px'}" v-scrollbar>
									<ul class="uk-nav uk-nav-navbar">
										<li v-if="unpinnedStatements.length > 0" class="uk-nav-header">Batch #{{ batchNum }}</li>
										<li v-for="statement in unpinnedStatements" :class="{'uk-active': statement == currentStatement}">
											<a href="" @click.prevent="currentStatement = statement">
												<div class="uk-float-right uk-badge" v-if="statement.isRunning">
													Running... <i class="uk-icon-circle-o-notch uk-icon-spin"></i>
												</div>
												<div class="uk-float-right uk-badge uk-badge-danger"
														v-if="statement.failed">Failed</div>
												<div class="uk-float-right uk-badge uk-badge-success"
														v-if="!statement.isRunning && !statement.failed">Done</div>

												<div class="uk-float-right uk-badge uk-badge-notification"
														v-if="statement.messages.length > 0">{{ statement.messages.length }}</div>

												<i class="uk-icon-table"></i> Statement #{{ statement.statementNum }}
											</a>
										</li>
										<li v-if="unpinnedStatements.length > 0 && pinnedStatements.length > 0" class="uk-nav-divider"></li>
										<li v-if="pinnedStatements.length > 0" class="uk-nav-header">Pinned</li>
										<li v-for="statement in pinnedStatements" :class="{'uk-active': statement == currentStatement}">
											<a href="" @click.prevent="currentStatement = statement">
												<button @click.stop="togglePinned(statement)">
													<i class="uk-icon-thumb-tack"></i>
												</button>
												Batch #{{ statement.batchNum }}, statement #{{ statement.statementNum }}
											</a>
										</li>
									</ul>
								</div>
							</li>

							<li :class="{'uk-active': showQueryText}">
								<a href="" @click.prevent="showQueryText = !showQueryText" v-tooltip="'Show query text'">
									<i class="uk-icon-file-text-o"></i>
								</a>
							</li>
						</ul>
					</div>
				</nav>

				<div class="uk-width-1-1 uk-flex-item-1 uk-position-relative" v-el:bottom-pane>
					<component :is="bottomView" keep-alive :statement="currentStatement" :layers.sync="layers"
							:show-query-text="showQueryText" :is-running="isRunning"
							:line-width-key="lineWidthKey" :line-width-key-choices.sync="lineWidthKeyChoices">
					</component>
				</div>

			</div>

		</splitter>

	</section>
</template>

<script>
	import fs from 'fs';

	import _ from 'lodash';
	import Promise from 'bluebird';
	import electron from 'electron';
	import wkx from 'wkx';
	import csvWriter from 'csv-writer';

	import Editor from '../components/Editor.vue';
	import Splitter from '../components/Splitter.vue';

	import Results from '../components/resultsViews/Results.vue';
	import QueryPlan from '../components/resultsViews/QueryPlan.vue';
	import Geometry from '../components/resultsViews/Geometry.vue';
	import History from '../components/resultsViews/History.vue';

	import connectionService from '../services/connection';
	import documentService from '../services/document';
	import Indicator from '../services/Indicator';
	import { default as Shortcuts, registerActions } from '../services/Shortcuts';
	import { addMessage } from '../services/messages';
	import splitSQL from '../services/splitSQL';

	Promise.promisifyAll(fs);

	/**
	 * An `Error` subclass that is thrown/caught in order to roll back a transaction intentionally, because of given
	 * options. (as opposed to rolling back because of a database error or other error)
	 *
	 * @constructor
	 */
	/*
	class RollbackTransaction extends Error {
		constructor() {
			super();
			this.message = 'Rolling back transaction.';
			this.name = 'RollbackTransaction';
			Error.captureStackTrace(this, RollbackTransaction);
		}
	}
	/*/
	// Until ES6-style classes actually _work_ for bluebird's `.catch()`...
	function RollbackTransaction() {
		this.message = 'Rolling back transaction.';
		this.name = 'RollbackTransaction';
		Error.captureStackTrace(this, RollbackTransaction);
	}
	RollbackTransaction.prototype = Object.create(Error.prototype);
	RollbackTransaction.prototype.constructor = RollbackTransaction;
	//*/


	const component = {

		components: {
			Editor,
			Splitter,

			Results,
			QueryPlan,
			Geometry,
			History,
		},

		data() {
			return {
				connectionService,
				currentDocument: documentService.create(`select
	s.num,
	s.num / 2 as half,
	s.num / 3 as third,
	s.num % 2 as mod2,
	s.num % 3 as mod3,
	sqrt(s.num / 2) as halfSqrt,
	sqrt(s.num / 3) as thirdSqrt,
	sqrt(s.num % 2) as mod2Sqrt,
	sqrt(s.num % 3) as mod3Sqrt,
	cbrt(s.num / 2) as halfCbrt,
	cbrt(s.num / 3) as thirdCbrt,
	cbrt(s.num % 2) as mod2Cbrt,
	cbrt(s.num % 3) as mod3Cbrt,
	degrees(s.num / 2) as halfDegrees,
	degrees(s.num / 3) as thirdDegrees,
	degrees(s.num % 2) as mod2Degrees,
	degrees(s.num % 3) as mod3Degrees,
	exp(s.num / 2) as halfExp,
	exp(s.num / 3) as thirdExp,
	exp(s.num % 2) as mod2Exp,
	exp(s.num % 3) as mod3Exp,
	log(s.num * 2) as doubleLog,
	log(s.num * 3) as tripleLog,
	ln(s.num * 2) as doubleLn,
	ln(s.num * 3) as tripleLn,
	pow(2, s.num) as twoToTheN,
	pow(3, s.num) as threeToTheN
from generate_series(1, 100) as s(num);
`, documentService.getModeForDriver((connectionService.currentConnectionConfig || {}).client)),
				queryParams: [],
				isRunning: new Indicator(),
				batchNum: 0,
				statements: [],
				currentStatement: {},
				bottomView: 'Results',
				showQueryText: false,
				lineWidthKey: null,
				lineWidthKeyChoices: [],
				lineWidthKeyHistory: ['Actual Total Time', 'Total Cost'],
				shortcuts: new Shortcuts(this, 'Query'),
				layers: [],
				statementDropdownOpen: false,
				bottomPaneHeight: 1000,
				dirty: false,
			};
		},

		computed: {
			_() { return _; }, // No idea why adding `_` to `data` doesn't work, but this works around it.
			selectedQueries() {
				var statements;
				if(this.currentDocument.somethingSelected()) {
					statements = _.flatten(_.zipWith(this.currentDocument.listSelections(), this.currentDocument.getSelections(),
						(selPos, selText) => splitSQL(selText, {
							queryParams: this.resolvedQueryParams,
							startIndex: Math.min(selPos.head, selPos.anchor)
						})
					));
				} else {
					statements = splitSQL(this.currentDocument.getValue(), {
						queryParams: this.resolvedQueryParams,
						startIndex: this.selectionStartIndex,
					});
				}

				return statements.map((stmt, index) => _.assign(stmt, {
					batchNum: this.batchNum, statementNum: index + 1,
					isRunning: false, failed: false, pinned: false, rolledBack: false,
					rows: null, columns: null, affectedRows: null,
					messages: []
				}));
			},
			resolvedQueryParams() {
				return _.map(this.queryParams, param => param.isNull ? null : param.value);
			},
			queryText() {
				if(this.currentDocument.somethingSelected()) {
					return this.currentDocument.getSelection('\n');
				} else {
					return this.currentDocument.getValue();
				}
			},
			pinnedStatements() {
				return _.filter(this.statements, {pinned: true});
			},
			unpinnedStatements() {
				return _.filter(this.statements, {pinned: false});
			},
			dbObj() {
				return (connectionService.currentConnection || {}).dbObjects || {};
			},
			queryOptions() {
				return this.dbObj.queryOptions;
			},
			explainOptions() {
				return this.dbObj.explainOptions;
			},
		},

		methods: {
			togglePinned(statement) {
				statement.pinned = !statement.pinned;
			},
			runAndRollbackQuery() { return this.runQuery({rollback: true}); },
			runQueryWithoutTransaction() { return this.runQuery({inTransaction: false}); },
			runQuery(options={}) {
				return this.runSQL(this.selectedQueries, options)
					.catch((error) => {
						console.error(error);
						addMessage({
							status: 'danger',
							message: error.toString(),
							details: { error, queries: this.selectedQueries }
						});
					})
					.then(result => {
						this.bottomView = 'Results';
						return result;
					});
			},
			runSQL(queries, options={}) {
				if(!connectionService.currentConnection) {
					addMessage({
						status: 'warning',
						message: "Not connected! Can't run query.",
						timeout: 1500
					});
					return;
				} // end if

				_.remove(this.statements, (statement) => !statement.pinned);
				this.statements.push(...queries);
				this.currentStatement = queries[0];

				var runIt = trxOrDB =>
					Promise.mapSeries(queries, stmt => {
						stmt.isRunning = true;

						var query = trxOrDB.raw(stmt.text, stmt.values);

						if(this.dbObj.modifyQuery) {
							this.dbObj.modifyQuery(query);
						}

						return query
						.then(result => {
							console.log('initial result:', result);

							if(this.dbObj.normalizeRawResponse) {
								return this.dbObj.normalizeRawResponse(result);
							} else {
								return result;
							}
						})
						.then(result => {
							console.log('normalized result:', result);

							stmt.columns = result.columns;
							stmt.rows = result.rows;
							stmt.affectedRows = result.affectedRows;

							return result;
						})
						.catch(error => {
							console.error('error:', error);

							stmt.messages.push(error);
							stmt.failed = true;

							addMessage({
								status: 'danger',
								message: `Error running statement ${stmt.statementNum} of batch ${stmt.batchNum}`,
								details: { error, stmt }
							});

							throw error;
						})
						.finally(() => {
							stmt.isRunning = false;
						});
					})
					.then(result => {
						if(options.rollback) {
							_.each(queries, stmt => {
								stmt.rolledBack = true;
							});
							throw new RollbackTransaction();
							//return trxOrDB.rollback();
						} // end if

						return result;
					});

				return this.isRunning.indicate(() => {
					if(options.inTransaction === false) {
						return runIt(connectionService.currentConnection);
					} else {
						return connectionService.currentConnection.transaction(runIt);
					}
				})
					.catch(RollbackTransaction, () => {})
					.return(queries)
					.finally(() => this.batchNum += 1);
			},
			runAndAnalyzeQuery() { return this.explainQuery({analyze: true}); },
			explainQuery(options={}) {
				function onOff(value)
				{
					return value ? 'on' : 'off';
				} // end onOff

				console.log("Explaining query" + (options.analyze ? " with ANALYZE" : ""));
				console.log("explainOptions:", this.explainOptions);

				var explainPrefix = "EXPLAIN(" +
					[].concat(
						"ANALYZE " + onOff(options.analyze),
						_(this.explainOptions)
							.keys()
							.map(key => {
								var value = this.explainOptions[key];
								key = key.toUpperCase();

								/*
								//FIXME
								if(key == 'TIMING' && sqlService.serverSettings.server_version_num < 90200)
								{
									// The 'TIMING' option was first available in PostgreSQL 9.2; drop it.
									return undefined;
								} // end if
								*/

								if(!options.analyze && (key == 'BUFFERS' || key == 'TIMING'))
								{
									// BUFFERS and TIMING are not valid unless using ANALYZE.
									value = false;
								} // end if

								return key + ' ' + onOff(value);
							})
							.filter()
							.value(),
						"FORMAT JSON"
					).join(', ') +
					")\n";

				var queries = this.selectedQueries;

				queries.forEach(queryDef => {
					queryDef.text = explainPrefix + queryDef.text;
					queryDef.startIndex -= explainPrefix.length;
					queryDef.queryPlan = null;
				});

				return this.runSQL(queries, { rollback: true })
					.catch((error) => {
						console.error(error);
						addMessage({
							status: 'danger',
							message: 'Error explaining queries',
							details: { error, queries }
						});
					})
					.each(stmt => {
						stmt.queryPlan = stmt.rows[0][0];

						// PostgreSQL < 9.2 returns JSON plans as strings.
						if(_.isString(stmt.queryPlan)) {
							stmt.queryPlan = JSON.parse(stmt.queryPlan);
						} // end if
					})
					.then(result => {
						this.lineWidthKey = null;
						this.bottomView = 'QueryPlan';

						return result;
					});
			},
			openFile(filePath) {
				console.log("Opening file:", filePath);
				return fs.readFileAsync(filePath, 'utf8')
					.then(content => {
						this.currentDocument.setValue(content);
						this.currentDocument.filePath = filePath;
						this.dirty = false;
					})
					.catch(error => {
						console.error(error);
						addMessage({
							status: 'danger',
							message: `Error opening file ${filePath}`,
							details: { error, filePath }
						});
					});
			},
			saveFile(filePath) {
				filePath = filePath || this.currentDocument.filePath;
				if(!filePath) {
					return this.showSaveAsDialog();
				}

				console.log("Saving query file:", filePath);
				return fs.writeFileAsync(filePath, this.currentDocument.getValue(), 'utf8')
					.then(() => {
						this.currentDocument.filePath = filePath;
						this.dirty = false;
						addMessage({
							status: 'success',
							message: `Saved query to ${filePath}`,
							details: { filePath },
							timeout: 1500
						});
					})
					.catch(error => {
						console.error(error);
						addMessage({
							status: 'danger',
							message: `Error saving query to ${filePath}`,
							details: { error, filePath }
						});
					});
			},
			showOpenDialog() {
				return electron.ipcRenderer.send('showOpenDialog');
			},
			showSaveAsDialog() {
				return electron.ipcRenderer.send('showSaveAsDialog');
			},
			saveResultsFile(filePath) {
				if(!filePath) {
					return this.showSaveResultsAsDialog();
				}

				console.log("Saving results file:", filePath);
				csvWriter.createObjectCsvWriter({
					path: filePath,
					header: this.currentStatement.columns.map(c => ({ id: c.key, title: c.name }))
				})
					.writeRecords(this.currentStatement.rows)
					.then(() => {
						addMessage({
							status: 'success',
							message: `Saved results to ${filePath}`,
							details: { filePath },
							timeout: 1500
						});
					})
					.catch(error => {
						console.error(error);
						addMessage({
							status: 'danger',
							message: `Error saving results to ${filePath}`,
							details: { error, filePath }
						});
					});
			},
			showSaveResultsAsDialog() {
				return electron.ipcRenderer.send('showSaveResultsAsDialog');
			},
			addToMap(column, statement) {
				var parseGeom = input => wkx.Geometry.parse(input).toGeoJSON();
				if(column.type == 'json') {
					parseGeom = input => input;
				} else if(column.type == 'text' && /^\s*\{.*\}\s*$/.test(_(statement.rows).map(column.key).find())) {
					parseGeom = input => JSON.parse(input);
				}

				var failedGeoms = 0;
				var features = _(statement.rows)
					.map((row, rowIdx) => {
						try {
							if(_.isNull(row[column.key])) { return; }

							var geometry = parseGeom(row[column.key]);
							var properties = _.transform(row, (accum, value, key) => {
								if(key != column.key) {
									accum[statement.columns[key].name] = value;
								}
							}, {});

							return {
								type: 'Feature',
								geometry,
								properties,
							};
						} catch(exc) {
							console.warn("Error while processing geometry from column %s of row %s: %s",
								column.name, rowIdx, exc.stack || exc);
							failedGeoms += 1;
						}
					})
					.compact()
					.value();

				var name = `Batch #${statement.batchNum}, statement #${statement.statementNum}: ${column.name}`;
				this.layers.push({ name, features });

				this.bottomView = 'Geometry';

				this.$nextTick(() => {
					addMessage({
						status: 'primary',
						icon: 'plus-square',
						message: `Added layer "${name}" to map.`,
						details: { layerName: name }
					});

					if(failedGeoms) {
						addMessage({
							status: 'warning',
							message: `Failed to parse ${failedGeoms} of ${statement.rows.length} geometries.`
						});
					}
				});
			},
		},

		ready() {
			this.$on('query.openFile', (filePath) => this.openFile(filePath));
			this.$on('query.saveFile', (filePath) => this.saveFile(filePath));
			this.$on('query.saveResultsFile', (filePath) => this.saveResultsFile(filePath));

			this.$on('query.addToMap', (column, statement) => this.addToMap(column, statement));

			this.$watch('bottomView', () => {
				this.$nextTick(() => {
					this.$broadcast('resize');
				});
			});

			this.$refs.mainSplitter.$on('resize', () => {
				this.$nextTick(() => {
					this.bottomPaneHeight = this.$els.bottomPane.offsetHeight;
				});
			});

			this.$watch('connectionService.currentConnectionConfig', () => {
				this.$nextTick(() => {
					var mode = documentService.getModeForDriver((connectionService.currentConnectionConfig || {}).client);
					this.currentDocument.getEditor().setOption('mode', mode);
				});
			});

			this.$watch('currentStatement.rows && currentStatement.rows.length', () => {
				this.$nextTick(() => {
					if(this.$els.resultsPane) {
						this.$els.resultsPane.scrollTop = 0;
						this.$els.resultsPane.scrollLeft = 0;
					}
					this.$broadcast('resize');
				});
			});

			this.$watch('lineWidthKeyChoices', () => {
				for(let idx = 0; idx < this.lineWidthKeyHistory.length; idx++) {
					let key = this.lineWidthKeyHistory[idx];
					if(_.includes(this.lineWidthKeyChoices, key)) {
						this.lineWidthKey = key;
						return;
					}
				}
				this.lineWidthKey = this.lineWidthKeyChoices[0];
			});

			this.$watch('lineWidthKey', newValue => {
				this.lineWidthKeyHistory = _.without(this.lineWidthKeyHistory, newValue);
				this.lineWidthKeyHistory.unshift(newValue);
			});

			this.currentDocument.on('change', () => {
				this.dirty = true;
			});
		},

	};

	registerActions('Query', _.keys(component.methods));

	export default component;
</script>
